[2016-12-19 05:30] rjurney opened #1 "Create Chapter 9 Code"
Chapter 9 is about improving predictions. Therefore we need to improve our predictions in several ways: hyperparameter tuning, feature engineering, etc.

[2016-12-19 05:31] rjurney opened #2 "Figure out problem with predictions always resulting in 0/on-time"

[2017-02-10 23:17] rjurney opened #3 "Fix direct calls to DataFrame.map with DataFrame.rdd.map"
ch05/assess_airplanes.py And ch05/save_tail_numbers.py

[2017-02-10 23:33] md6nguyen opened #4 "ch06/extract_airlines.py throws error at airplanes_per_carrier.count()"
[Stage 3:===============================================>       (172 + 4) / 200]17/02/10 23:15:43 ERROR Executor: Exception in task 15.0 in stage 3.0 (TID 392)
org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/home/ubuntu/spark/python/lib/pyspark.zip/pyspark/worker.py", line 174, in main
    process()
  File "/home/ubuntu/spark/python/lib/pyspark.zip/pyspark/

[2017-02-11 00:27] rjurney commented on #4
Pull latest and try again.

[2017-02-11 00:34] rjurney commented on #3
Fixed, pull latest and try again please.

[2017-02-11 00:44] md6nguyen commented on #4
Worked now.

[2017-02-11 00:44] #4 closed

[2017-02-11 00:45] md6nguyen commented on #4
Thanks and have fun :)

Minh

On Fri, Feb 10, 2017 at 4:27 PM, Russell Jurney <notifications@github.com>
wrote:

[2017-02-11 00:53] md6nguyen opened #5 "ch06/add_name_to_airlines.py throws error"
The following error is thrown when running ch06/add_name_to_airlines.py

...   .options(header='false', nullValue='\N')\
...   .load('data/airlines.csv')
  File "<stdin>", line 2
SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: malformed \N character escape

[2017-02-12 22:49] rjurney opened #6 "Add screenshots to README.md"
Show ppl what the app looks like!

[2017-02-16 04:18] rkazak opened #7 "java?"
Should the requirement for java be listed somewhere ( not requirements.txt, my bad! )?

[2017-02-16 09:31] #1 closed

[2017-02-16 09:31] rjurney commented on #2
Resolved.

[2017-02-16 09:31] #2 closed

[2017-02-16 09:31] #3 closed

[2017-02-16 09:55] rjurney commented on #6
Done!

[2017-02-16 09:55] #6 closed

[2017-02-16 10:05] rjurney commented on #5
Resolved, please pull latest and retry.

[2017-02-16 19:26] seajosh opened #8 "p20 copy"
last paragraph:

"The data’s opinion must always be included in product discussions,
which means that they must be grounded in visualization through exploratory data
analysis, in the internal application that becomes the focus of our efforts."

- remove comma after analysis or rewrite, the sentence is clumsy
- "opinion" is a strong word to use here, maybe "conclusion" or other word that doesn't im

[2017-02-16 19:27] seajosh opened #9 "p21 copy"
"The first level of the data-value pyramid is about plumbing; making a dataset flow
from where it is gathered to where it appears in an application. The next level, charts
and tables, is where refinement and analysis begins. The next level, reports, enables
immersive exploration of data, and we can really reason about it and get to know it.
The final level, predictions, is where the most value is

[2017-02-16 19:41] seajosh opened #10 "p21 copy"
"developing a normal application, what will we ship? If we don’t ship, we aren’t agile. To solve this
problem, in Agile Data Science, we “get meta” and make the focus documenting the
analytics process as opposed to the end state or product we are seeking."

use the active voice

"Agile Data Science hearts "meta" and focuses on documenting the analytics process."

[2017-02-16 21:48] rjurney commented on #10
Josh, can you make these tickets about the book in the book's private repo? I've added you as a collaborator there.

https://github.com/rjurney/agile-data-science-2e/invitations

Thanks!

[2017-02-16 23:45] rkazak opened #11 "questions on manual_install.sh"
I am opening this issue for manual_install.sh so that I can bounce ideas on it with you
as I come across them?

[2017-02-16 23:52] seajosh opened #12 "ch2: Vagrant setup"
The reader might need to change this before running ```vagrant up``` depending on their system. I had problems provisioning vagrant until I changed the memory limit to 4GB / 4096;

[code]

[2017-02-16 23:54] rkazak commented on #11
issue 1
The script should be re-executable and as it successfully passes an install stage
remember and not try to re-do that stage.

issue 2
A check in some initialization function could check java is available before starting
the main part of the process, I recently 'cleaned' my machine and have resisted
installing arbitrary tools...

issue 3
Should we be using the 'pip' that's installed as part

[2017-02-17 00:15] rjurney commented on #12
The problem is that with less than 9GB of RAM, all of the examples won't run. The model training for instance, and some of the nested records we prepare for MongoDB, they take 9GB. This requires that I close nearly all programs on my newish Macbook Pro with 16GB of RAM. It sucks. I don't know what to do to fix it, other than recommend the EC2 setup.

[2017-02-17 00:16] rjurney commented on #11
Thanks for your help with this! I will make a pass at improving the script and get back to you.

[2017-02-17 00:31] seajosh commented on #12
That's cool - the copy needs to note the minimum system requirements (to the best of your knowledge - no need to be too specific here) for running vagrant locally and a brief explanation of why.

[2017-02-17 00:57] rkazak commented on #11
You are very welcome.  I too may take a stab at some of this.

issue 4
We need a way to restore the original .bash_profile for when things go wrong, else
this too becomes a source of errors.

[2017-02-17 01:05] rkazak commented on #11
issue 5
We should also check if any other pre-requisites we are going to install are not
already available on the host.

[2017-02-17 01:14] rkazak commented on #11
enhancement 1
We should provide a choice between anaconda and miniconda if it's practical during
installation.

[2017-02-17 02:04] rkazak commented on #11
enhancement 2
I would suggest that rather than updating .bash_profile, put all that into your own file
and source it through .bash_profile?

[2017-02-17 02:10] rkazak commented on #11
issue 6
Why is the airflow directory outside the project_root ?

[2017-02-17 04:39] rkazak commented on #11
issue 7
line 126 is
cd $PROJECT_HOME# to $PROJECT_HOME
- should be
cd $PROJECT_HOME # to $PROJECT_HOME

[2017-02-17 04:42] rkazak commented on #11
issue 8
I had to up the version of zeppelin to 0.7.0 as the 0.6.2 is no longer there.
also updated kafka from 2.11-0.10.1.1 to 2.12-0.10.1.1

[2017-02-17 05:30] rkazak commented on #11
issue 9
- line 139
elasticsearch/bin/elasticsearch 2>1 > /dev/null & # re-run if you shutdown your computer
- should be
elasticsearch/bin/elasticsearch 2>&1 > /dev/null & # re-run if you shutdown your computer

[2017-02-17 22:58] rjurney opened #14 "Make manual install script check if components are already installed, in case it is being re-run"

[2017-02-17 22:59] rjurney opened #15 "manual_install.sh: Check if java is already installed, halt with message if not"

[2017-02-17 23:01] rjurney opened #16 "manual_install.sh: Make copy of ~/.bash_profile and create uninstall script to move it back in place"

[2017-02-17 23:04] rjurney opened #17 "manual_install.sh: Install airflow in $PROJECT_HOME like the other software"

[2017-02-17 23:05] rjurney commented on #11
1) That is a good idea. I just created a ticket for this feature: https://github.com/rjurney/Agile_Data_Code_2/issues/14
2) Another good idea: https://github.com/rjurney/Agile_Data_Code_2/issues/15
3) I think not, because we set the environment variables for path, etc. right before we alter .bash_profile
4) Agreed. We should cp it to .back and have a uninstall script. https://github.com/rjurney/Ag

[2017-02-18 02:40] #5 closed

[2017-02-18 02:42] md6nguyen opened #18 "ch06/enrich_airlines_wikipedia.py"
In ch06/enrich_airlines_wikipedia.py throws error because it cannot find the file 'data/our_airlines.jsonl'. I checked the data directory I only found the file 'data/our_airlines.json'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ubuntu/Agile_Data_Code_2/lib/utils.py", line 29, in read_json_lines_file
    f = codecs.open(path, "r", "utf-8")
  File "/home/

[2017-02-18 02:43] md6nguyen commented on #5
Thanks, here's a new one:
https://github.com/rjurney/Agile_Data_Code_2/issues/18

On Thu, Feb 16, 2017 at 2:05 AM, Russell Jurney <notifications@github.com>
wrote:

[2017-02-18 13:38] md6nguyen opened #19 "Half of the time Agile_Data_Code_2 is not present in EC2 instance during startup"
About 50% of the time when I spinned up an EC2 instance, the directory Agile_Data_Code_2 does not exist and it turns out that it is because the apt-get process seems to get stuck. This is the first line in aws/ec2_bootstrap.sh:
sudo apt-get update && sudo apt-get upgrade -y

I think there may be some timing issue here when apt-get is called before the system is ready. I think   it is safer to remo

[2017-02-18 21:54] seajosh opened #20 "Miniconda doesn't include jupyter"
bootstrap.sh:27

[2017-02-18 22:29] seajosh commented on #20
using vagrant:

sudo chown -R vagrant /home/vagrant/anaconda
sudo chgrp -R vagrant /home/vagrant/anaconda
conda install jupyter

[2017-02-19 00:07] seajosh opened #21 "Vagrant / jupyter port forwarding"
Windows 10
Windows Defender: off

Problem:
After provisioning a Vagrant guest and running `jupyter notebook`, HTTP requests weren't forwarded to Jupyter on the Vagrant guest.

Solution:
jupyter was binding on localhost/127.0.0.1; therefore, vagrant couldn't forward the requests because it couldn't find a listener on the guest IP.

Here's a command for running Jupyter so it binds on vagrant's guest

[2017-02-19 00:29] seajosh opened #22 "pyspark / python 3.6.0"
Pyspark doesn't work with Python 3.6.0

https://issues.apache.org/jira/browse/SPARK-19019

[2017-02-19 00:30] seajosh commented on #22
`
vagrant@precise64:~$ pyspark
Python 3.6.0 |Continuum Analytics, Inc.| (default, Dec 23 2016, 12:22:00)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.
Traceback (most recent call last):
  File "/home/vagrant/spark/python/pyspark/shell.py", line 30, in <module>
    import pyspark
  File "/home/vagrant/spark/python/pyspark/__in

[2017-02-19 21:23] seajosh opened #23 "pyspark example bug"
Ch02 "Collecting Data", p37

problem:
Assuming user in is in ch02 directory per text

`csv_lines = sc.textFile("data/example.csv")`
incorrect file path

solution:
`csv_lines = sc.textFile("../data/example.csv")`

[2017-02-19 21:30] seajosh opened #24 "ch02/mongodb.py missing"
`ch02/mongodb.py` is referenced in Ch02 "Publishing Data with MongoDB" p39 but is missing in the repo

[2017-02-19 21:31] seajosh commented on #20
jupyter was removed from the ipython distribution and moved to its own package

https://ipython.org/

[2017-02-19 21:56] seajosh commented on #24
copy error - should be `ch02/pyspark_mongodb.py`

[2017-02-20 00:14] rjurney commented on #24
Fixed in book, thanks!

[2017-02-20 00:14] #24 closed

[2017-02-20 00:15] rjurney commented on #23
Where does it say to be in ch02 directory? Or is this just assumed? Actually, all code has to be executed from $PROJECT_HOME. Any tips for how I could better express this?

[2017-02-20 00:36] seajosh commented on #23
Below is what made me go to the ch02 dir

"To get an iPython shell with PySpark, make sure
you’re in the ch02 directory and run PYSPARK_DRIVER_PYTHON=ipython pyspark ."

[2017-02-20 00:40] rjurney commented on #23
Shit. Thanks!

[2017-02-20 00:44] rjurney commented on #23
Updated the book, thanks.

[2017-02-20 00:44] #23 closed

[2017-02-20 00:44] rjurney commented on #22
Updated bootstrap.sh and ec2_bootstrap.sh to specify conda to use 3.5.2.

[2017-02-20 00:44] #22 closed

[2017-02-20 22:13] rjurney commented on #21
Thanks, I added this to the boot scripts.

[2017-02-20 22:13] #21 closed

[2017-02-20 22:17] rjurney commented on #20
Addressed in the pull request and the commit I just pushed.

https://github.com/rjurney/Agile_Data_Code_2/pull/13
and
https://github.com/rjurney/Agile_Data_Code_2/commit/d362753c5a46e530ac92e08172495666872120e7

[2017-02-20 22:17] #20 closed

[2017-02-20 22:24] rjurney commented on #18
There is a line earlier in chapter 6, that says to: cp data/our_airlines.json/part* data/our_airlines.jsonl

But I will add a line that does this in the script.

See: https://github.com/rjurney/Agile_Data_Code_2/commit/b99aa1948c48b62e0898ac14c36205450aaf9811

[2017-02-20 22:24] #18 closed

[2017-02-20 22:24] rjurney commented on #19
Adding a boot script is a well known technique, but I have noticed the problem too and don't understand what is happening. I will look into it, thanks.

[2017-02-20 22:32] rjurney commented on #12
I made the bit about 9GB bold in the book and README bolder and longer/bigger.

[2017-02-20 22:32] #12 closed

[2017-02-20 23:12] md6nguyen commented on #19
I agreed it's very convenient if the bootstrap script is run automatically but it has to be stable.

[2017-02-20 23:24] md6nguyen opened #25 "EC2 instance requires instructions how to make Flask web pages available externally"
For EC2 instance, I cannot view Flask web pages even when I add port 5000 to the Security Group.
There should be instruction in EC2 set up on how to view Flask pages, maybe using ssh tunnels?

[2017-02-21 03:21] rjurney commented on #25
Thank you, yes I have been testing an ssh tunnel command and will get back to you with something that works!

[2017-02-21 03:24] rjurney commented on #19
There was an issue where sometimes I think the apt-get screen was coming up, that someone fixed in a pull request. Would you mind trying this again? I will do so from my side as well.

[2017-02-25 16:06] kelvinksau opened #26 "The vagrant install script for Virtual PC stopped after Jupyter start"
Hi

I run the 'vagrant up' command  the vagrant script stop after Jupyter started as below.  Is it an expected behaviour ?

==> default: writing new private key to '/home/ubuntu/certs/mycert.pem'
==> default: /home/ubuntu/certs/mycert.pem: No such file or directory
==> default: 140332068832928:error:02001002:system library:fopen:No such file or directory:bss_file.c:398:fopen('/home/ubuntu/certs/my

[2017-03-01 18:03] md6nguyen commented on #19
Yes, it seems to be okay now. I tried 3 times and they all went through. However, the bootstrap script takes around 15 minutes to complete. I think we should log the status in a log file with a confirmation  message when the setup is complete. User can check the log and wait until it is complete so that they won't start playing when the set up is in progress. I'll file a separate issue for this.

[2017-03-01 18:03] #19 closed

[2017-03-01 18:07] md6nguyen opened #27 "aws/ec2_bootstrap.sh should log progress in a log file"
The bootstrap script aws/ec2_bootstrap.sh takes around 15 minutes to complete. I think the script should log the progress in a log file with a confirmation when the setup is complete. User can then check the log and wait until it is complete so that they won't start playing when the set up is in progress.

[2017-03-08 13:18] kelvinksau opened #28 "AttributeError: 'DataFrame' object has no attribute 'map'"
The following program would not work under Spark 2.0

`Use .rdd.map:`

**DataFrame.map has been removed in Spark 2.**

# Load the parquet file
on_time_dataframe = spark.read.parquet('data/on_time_performance.parquet')
on_time_dataframe.registerTempTable("on_time_performance")

# Dump the unneeded fields
tail_numbers = on_time_dataframe.map(lambda x: x.TailNum)
tail_numbers = tail_numbers.filter(la

[2017-03-08 13:36] kelvinksau opened #29 "File "/home/ubuntu/Agile_Data_Code_2/ch06/web/search_helpers.py", line 28 except AttributeError, e:"
File "report_flask.py", line 9, in <module>
    import search_helpers
  File "/home/ubuntu/Agile_Data_Code_2/ch06/web/search_helpers.py", line 28
    except AttributeError, e:

----
In python3 the raise syntax no longer accepts comma-separated arguments.

Use as instead:

[2017-03-08 13:47] kelvinksau opened #30 "SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: malformed \N character escape"
[code]

should change to

[code]

[2017-03-11 22:05] rjurney commented on #7
I fixed this in the README in commit https://github.com/rjurney/Agile_Data_Code_2/commit/3a8bf77aef3fac7cc9814142c96606a1e2d38918

[2017-03-11 22:05] #7 closed

[2017-03-11 22:16] rjurney commented on #8
Thanks, fixed.

[2017-03-11 22:16] #8 closed

[2017-03-11 22:22] rjurney commented on #9
Fixed! Thanks.

[2017-03-11 22:22] #9 closed

[2017-03-11 22:25] rjurney commented on #10
Went with: "To solve this problem, in Agile Data Science, we "get meta." The focus is on documenting the analytics process as opposed to the end state or product we are seeking. "

[2017-03-11 22:25] #10 closed

[2017-03-11 23:10] rjurney commented on #14
I fixed this in https://github.com/rjurney/Agile_Data_Code_2/commit/62878c1a4e41d17d063112f49c824b4896952a0a

@rkazak Can you take a look and try this out, please?

[2017-03-11 23:10] rjurney commented on #11
@rkazak I fixed Issue #14 in https://github.com/rjurney/Agile_Data_Code_2/commit/62878c1a4e41d17d063112f49c824b4896952a0a Can you please test it out?

[2017-03-11 23:15] rjurney commented on #15
Fixed in https://github.com/rjurney/Agile_Data_Code_2/commit/46b244d0bc29c29cf2334c42671e4c58f52d5023

@rkazak Can you take a look and make sure this works for you?

[2017-03-11 23:15] rjurney commented on #11
@rkazak I fixed issue #15 in https://github.com/rjurney/Agile_Data_Code_2/commit/46b244d0bc29c29cf2334c42671e4c58f52d5023 Can you please test it out?

[2017-03-11 23:19] rjurney commented on #16
Making backup copy in https://github.com/rjurney/Agile_Data_Code_2/commit/bdab034406542f326a4ba2b8bb18a6f707cd4cb1

Uninstall script too much work for the moment. Will look at later.

@rkazak Can you test this out?

[2017-03-11 23:20] rjurney commented on #11
@rkazak I made the backup of .bash_profile re: #16 in https://github.com/rjurney/Agile_Data_Code_2/commit/bdab034406542f326a4ba2b8bb18a6f707cd4cb1 Can you test it out? I am waiting to do the uninstall script later.

[2017-03-11 23:22] rjurney commented on #17
@rkazak I emailed the Airflow list about how to get pip to do this.

[2017-03-11 23:22] rjurney commented on #25
@md6nguyen Working on this now!

[2017-03-12 03:30] rjurney commented on #25
@md6nguyen I have completely rewritten the EC2 scripts. They are now much easier to use, have multi-region support, and I have battle tested them. There are also instructions in the message you see when you ssh into the machine, and we print ssh instructions once we instantiate a new instance. Check it out!

Please re-open if you have problems :)

[2017-03-12 03:30] #25 closed

[2017-03-12 03:30] rjurney commented on #14
I'm going to close this for my piece of mind, please re-open if you have problems.

[2017-03-12 03:30] #14 closed

[2017-03-12 03:31] rjurney commented on #11
Please see the individual issues, which are resolved. Please re-open this issue if you run into more issues.

[2017-03-12 03:31] #11 closed

[2017-03-12 03:31] rjurney commented on #15
Closing for my peace of mind. Please re-open if you have problems.

[2017-03-12 03:31] #15 closed

[2017-03-12 03:32] rjurney commented on #16
Please re-open if you have issues.

[2017-03-12 03:32] #16 closed

[2017-03-12 03:34] rjurney commented on #28
Sorry about this, I fixed this a few days ago. Please re-open if you have any more issues.

[2017-03-12 03:34] #28 closed

[2017-03-12 03:35] rjurney commented on #29
Thanks you, resolved in https://github.com/rjurney/Agile_Data_Code_2/commit/19de9d4f01266f95c03f85e8534d7c81545bf5a0

[2017-03-12 03:35] #29 closed

[2017-03-12 03:49] kelvinksau commented on #28
Do you have a script to generate faa_tail_number_inquiry.jsonl ? I can see any python to handle this ?

Thx for the great work

Sent from my iPhone

[2017-03-12 06:45] kelvinksau opened #31 "Missing of faa_tail_number_inquiry.jsonl file"
Is it possible to provide the script to generate the faa_tail_number_inquiry.jsonl file, as the file is required for programs at other chapter.

It is mentioned in the book under "Evaluating Enriched Data"
===
Now that we’ve got our tail number data in data/faa_tail_number_inquiry.json', lets see what we’ve got. First we want to know how many records did we successfully achieve, both in raw form a

[2017-03-19 03:35] rjurney commented on #17
Don't think there's an easy way to do this.

[2017-03-19 03:35] #17 closed

[2017-03-24 14:26] md6nguyen commented on #25
I just tried it out and it worked great 👍 Thanks!

[2017-03-24 17:41] md6nguyen opened #32 "It's nice to have a script to clean up EC2 resource"
It's nice to have a script to clean up EC2 resources (i.e. instance, volume, security group, key pair) after user is done with the instance.

Currently in ec2.sh "Ebs":{"DeleteOnTermination":false} so even when user terminated instance the EBS volume is still available and will cost user $$$. I actually think Ebs should be automatically deleted when instance is terminated. What's the point of keep

[2017-03-25 00:08] rjurney commented on #32
Fixed in https://github.com/rjurney/Agile_Data_Code_2/commit/6f3a9913737bc87e8fe05388af7bae4df1100668

Thanks!

[2017-03-25 00:08] #32 closed

[2017-04-12 05:37] AlexDKR opened #33 "password required for sshing into ec2 instance"
password is required for agile_data_science_pem file, is this expected?

[2017-04-13 04:03] jaykinghorn opened #34 "Bootstrap Install Fails on Jupyter Notebook Install"
When I try and install the dependencies using the Bootstrap.sh file, I keep getting hung up on the Jupyter Notebook install with the following error:
[C 14:26:04.850 NotebookApp] Bad config encountered during initialization:
[C 14:26:04.850 NotebookApp] Unrecognized flag: '--allow-root'

https://github.com/jupyter/notebook/issues/1539

A quick google search brings me to a similar error with Docker

[2017-04-13 18:59] rjurney commented on #33
Can you try removing the security group and key from AWS and trying again? I'm wondering if you're seeing this on the first run or the second plus?

[2017-05-31 08:38] jwilber opened #35 "[Solved] MongoDB/PySpark not working"
**Edit** - *Solved the issue but will keep up for future use (if that's cool with you). Solution in first comment.*

I receive the following (see below) error when running `ch02/pyspark_mongodb.py`.

The prior examples in chapter 2 ran smoothly. For this example, I ran the following on the ec2 instance in the `Agile_Data_Code_2` directory:

[code]

Which yields this error:
[code]

Inspecting my `m

[2017-05-31 08:44] jwilber commented on #35
**Solved**
Running `mongod --smallfiles` instead of `mongod` solved the issue :)

[2017-05-31 10:18] #35 closed

[2017-05-31 10:27] jwilber opened #36 "elasticsearch not working"
elasticsearch doesn't seem to be working for me. I'm running code from ch02.

On ec2 I am running `bash ch02/elasticsearch.sh ` and obtain:

`curl: (7) Failed to connect to localhost port 9200: Connection refused`

Running

[code]

yields this error:

[code]

I've never used elasticsearch and am unsure how to proceed. Any help is appreciated!

[2017-06-15 07:16] mileserickson opened #39 "Lines 38-39 of aws/ec2_bootstrap.sh are inconsistent"
Line 38 is a comment indicating that Spark will use 8GB of RAM, but the following line sets spark.driver.memory to 25GB. One or the other needs to be updated for consistency.

[2017-06-25 21:39] josecyc opened #41 "Unable to launch instance"
Hey Russel,

I am trying to launch the EC2 instance. So far the script was able to create the security group but not launch the instance. I am getting the following:
`Familias-iMac:Solar FamCCL$ Agile_Data_Code_2/ec2.sh

Welcome to Agile Data Science 2.0 :)

I will launch an r3.xlarge instance in the default VPC for you, using a key and security group we will create.

The utility 'jq' is required

[2017-06-25 21:39] josecyc commented on #41
`wer`

[2017-06-25 21:39] #41 closed

[2017-06-25 22:34] josecyc commented on #41
SOLVED, I wasn't executing the file from the Agile directory

[2017-06-25 23:48] josecyc commented on #33
Having the same problem

[2017-06-25 23:54] josecyc commented on #33
@AlexDKR were you able to solve it? having the same problem

[2017-06-26 01:26] josecyc commented on #33
I try deleting the security group and key from AWS but was unable to update correctly the keys in the aws cli.

How can I update my access keys from the configure command in the aws cli?

Every time I try to change them or delete them it seems that it just adds text to the one I already wrote before.

Example:
1st key: XXXXXXXXXXXXX
2nd key:YYYYYYYYYYYYY
Update: XXXXXXXXXXXXXYYYYYYYYYYYYYY

I woul

[2017-06-26 04:15] josecyc commented on #33
I solved it. It is either you have put the keys incorrectly or the time is off.

Its possible to update the keys in an incorrect manner if you just copy paste them given that amazon provides them without spaces, the way I was entering them was including "secretkey=" so just maybe check.

[2017-07-01 20:55] BMamball opened #42 "ec2.sh no hostname created"
No hostname created after running ec2.sh

[2017-07-02 08:28] MiksLynx commented on #42
Same here

[2017-07-03 13:24] kelvinksau opened #43 "Chapter 8 test_classification_api.sh is wrong"
It should write as follow

curl -XPOST 'http://localhost:5000/flights/delays/predict/classify' \
  -F 'DepDelay=5.0' \
  -F 'Carrier=AA' \
  -F 'FlightDate=2016-12-23' \
  -F 'Dest=ATL' \
  -F 'FlightNum=1519' \
  -F 'Origin=SFO' \
| json_pp

FlightDate instead of Date

[2017-07-08 01:33] jaluecht opened #44 "Broken code"
I just purchased this book and have been following the examples closely.  I have come across several items in which the code was incorrect and needed to be debugged and changed.  My most recent example is the web code in chapter 4.

The flights template binds the display_nav macro with four parameters that are required by display_nav.  The actual macro signature only includes three parameters - qu

[2017-07-10 01:09] rjurney opened #45 "Fix all {{ ds }} date stamps to {{ ts }} timestamps in Airflow examples"

[2017-07-11 17:46] balasvasan opened #46 "Issues with Vagrant Instance"
Hi:

i get this following error during vagrant up. anyone seen this before?

<img width="1144" alt="screen shot 2017-07-06 at 11 31 07 pm" src="https://user-images.githubusercontent.com/12105100/28082056-f5880df8-6636-11e7-8ac9-08461817bcc3.png">
<img width="1383" alt="screen shot 2017-07-06 at 11 28 25 pm" src="https://user-images.githubusercontent.com/12105100/28082057-f5895078-6636-11e7-8e40-46

[2017-07-11 23:33] nickrosener commented on #46
I'm also getting the error in the first screenshot, using OSX. It's messing with the configuration of the token in the jupyter notebook. Still tracking down the cause.

[2017-07-12 01:08] nickrosener commented on #46
I think I fixed the notebook error in #47

[2017-07-14 14:47] RayBrown1 commented on #36
Your elasticsearch is probably not running. Elasticsearch listens on port 9200.

[2017-07-17 11:27] kelvinksau opened #48 "Debugging Prediction Problems.ipynb is not working"
Hi Russell,

Recently I take a serious look on Chapter 9 and find the Debugging Prediction Problems.ipynb is not working... I can't find a number of files that s required.

1. departure_bucketizer.bin
2. string_indexer_pipeline_model
3. final_vector_assembler.bin

Can you help share the required Jupiter Notebook that create these bin files ?

Cheers

[2017-07-17 11:49] kelvinksau opened #49 "ch08/extract_features.py is not working"
Seems missed the section to create SparkContext via findspark

[2017-07-17 15:18] josecyc commented on #42
same here, have a solution? and it makes me unable to create a tunnel and see the web apps

[2017-07-17 18:56] josecyc opened #51 "Airflow not working"
Whenever I try to run the command `$ airflow` I get the following:

This happens with any airflow command

[code]

can someone please tell me what mistake I might be making.

I am running the ec2 instance...

[2017-07-18 01:19] nickrosener commented on #31
+1 for this. The book says "don't scrape the FAA site" then doesn't give us the scraped data.

[2017-07-20 14:07] RayBrown1 commented on #51
Looks like the account running airflow does not have permission to write to the file "/home/ubuntu/airflow/unittests.cfg" which makes sense because the "ubuntu" user probably owns that file.

[2017-07-28 20:51] rjurney commented on #26
Looking into this now...

[2017-07-28 21:05] rjurney commented on #26
@kelvinksau Can you tell me what operating system you are running this on? Local or in the cloud?

[2017-07-28 21:34] rjurney commented on #27
@md6nguyen I implemented this in commit https://github.com/rjurney/Agile_Data_Code_2/commit/5720f0237fc44885cb55c1a757369b52a0a26d90

[2017-07-28 21:34] #27 closed

[2017-07-28 21:41] rjurney commented on #30
It looks like your version doesn't use the schema we have to use to load this data, so it ends up being:

[code]

See https://github.com/rjurney/Agile_Data_Code_2/commit/014f07608e5beaaa1e8292dc3fb9460eb317d298 and https://github.com/rjurney/Agile_Data_Code_2/commit/a5af14613a0008da49795c9cc176258b3776282d

[2017-07-28 21:41] #30 closed

[2017-07-28 22:30] rjurney commented on #33
I have made it so that the [ec2.sh](ec2.sh) script now checks for existing security groups and key pairs named `agile_data_science` before recreating them. This should address this problem.

If you have trouble, use the AWS console to delete the key pair and security group called `agile_data_science` and re-run [ec2.s](ec2.sh) and that should resolve them.

[2017-07-28 22:31] rjurney commented on #33
Oh, I'm going to leave this open in case anyone out there has the old code and will need to see this ticket.

[2017-07-28 22:31] rjurney commented on #33
The commits were https://github.com/rjurney/Agile_Data_Code_2/commit/b4937e05c6615395c9d0e4abeca8ede4af483adb and https://github.com/rjurney/Agile_Data_Code_2/commit/35c7fb3e4d8a527a1189e979a92e0addd112c1a8

[2017-07-28 22:32] rjurney commented on #31
Oh shit! Sorry about that. Let me make sure it is added...

[2017-07-28 23:40] rjurney commented on #31
I added this data in https://github.com/rjurney/Agile_Data_Code_2/commit/7393edbcb27831af4f5de4e17abe79bb78f37b20 and I added the scraping script in https://github.com/rjurney/Agile_Data_Code_2/commit/a45c04ba16a5424189f2df580e691e6336f62a82

[2017-07-28 23:40] #31 closed

[2017-07-28 23:41] rjurney commented on #33
@AlexDKR @josecyc Can you please try removing the security group and key pair named `agile_data_science` and re-running [ec2.sh](ec2.sh)

It should work now.

[2017-07-28 23:47] rjurney commented on #34
You can remove the `--allow-root` argument and it should work.

In commit https://github.com/rjurney/Agile_Data_Code_2/commit/8f988fc5df93fe19e08dc8ba87e615fe80d49758 I added jupyter notebooks to the requirements.txt and set the version to 5.0.0, which does have `--alow-root` as an option. This should resolve the issue, please reopen if it does not.

[2017-07-28 23:47] #34 closed

[2017-07-28 23:52] rjurney commented on #36
@jwilber Where are you running this, in EC2 or on Vagrant? Or locally?

In the file [aws/ec2_bootstra.sh](aws/ec2_bootstrap.sh), we run the following code to install and test Elasticsearch. Can you run this in your console and tell me what happens? I pasted code for EC2 and Vagrant below, but you will have to alter the paths if you are running this on your local machine.

For EC2:

[code]

For Vag

[2017-07-28 23:53] #39 closed

[2017-07-28 23:53] rjurney commented on #39
How nice to get a pull request! Thanks, merged :)

[2017-07-28 23:54] rjurney commented on #42
@BMamball @MiksLynx @josecyc Can you please paste the complete output of [ec2.sh](ec2.sh) so I can debug the issue?

[2017-07-28 23:56] rjurney commented on #43
Fixed in https://github.com/rjurney/Agile_Data_Code_2/commit/5215bc16d8424a87cb96492257f5552e2cc6f05d

@kelvinksau Thanks!

[2017-07-28 23:56] #43 closed

[2017-07-28 23:59] rjurney commented on #44
@jaluecht Thanks for these bug reports!

Chapter 4 example fixed in https://github.com/rjurney/Agile_Data_Code_2/commit/b5e48dc3c976dcd9ccdecae2a7152720154bb807

@jaluecht Can you be more specific about the code in the mongo queries? I don't have enough information to find the bug. Which chapter?

[2017-07-29 00:17] rjurney commented on #45
Fixed.

[2017-07-29 00:17] #45 closed

[2017-07-29 00:18] rjurney commented on #46
Working on this...

[2017-07-29 00:22] rjurney commented on #49
Fixed in https://github.com/rjurney/Agile_Data_Code_2/commit/323dc4fbe20ef6c663327dd5f94c999a5f1eadd2

@kelvinksau Can you please test?

[2017-07-29 00:24] rjurney commented on #51
@RayBrown1 Thank you, I can reproduce. Working on this...

[2017-07-29 00:26] rjurney commented on #51
@RayBrown1 I get the same thing. Run this command (from [aws/ec2_bootstrap.sh](aws/ec2_bootstrap.sh) to fix it:

[code]

[2017-07-29 02:58] rjurney commented on #51
Although the image is taking a long time to startup right now, I have resolved this issue.

[2017-07-29 02:58] #51 closed

[2017-07-30 00:52] balasvasan commented on #46
Thanks. Please let me know if you need any help with testing .. Happy to
chime in.

Cheers
Balaji

On Fri, Jul 28, 2017 at 7:18 PM, Russell Jurney <notifications@github.com>
wrote:

[2017-07-31 20:55] RayBrown1 commented on #51
Russell,

Take a look at the errata for your book. I’ve added a set of corrections.
http://www.oreilly.com/catalog/errataunconfirmed.csp?isbn=0636920051619

Thanks,
Ray

Sent from Mail for Windows 10

From: Russell Jurney
Sent: Friday, July 28, 2017 10:58 PM
To: rjurney/Agile_Data_Code_2
Cc: Ray Brown; Mention
Subject: Re: [rjurney/Agile_Data_Code_2] Airflow not working (#51)

Although the image i

[2017-08-01 15:52] AlexDKR commented on #33
@rjurney cloned the freshest copy of agile 2.0 and deleted security group and key pair on aws.

after doing so, good stuff and works like a charm.

[2017-08-05 04:09] rjurney commented on #46
I think I am going to have to deprecate the Vagrant system. There is not enough RAM on most computers to run the system completely, and I don't have time to keep both up to date. You will have to use the ec2 scripts. Sorry :( I will update the book accordingly.

[2017-08-05 04:09] #46 closed

[2017-08-05 07:48] johntekdek commented on #42
hi

I ran  ssh -i ./agile_data_science.pem ubuntu@

and i got the following:

ssh: connect to host  port 22: Connection refused

what do i do?

[2017-08-05 07:59] johntekdek commented on #42
Detecting external IP address ...
./ec2.sh: line 49: dig: command not found
Authorizing port 22 to your external IP () in security group 'agile_data_science' ...

An error occurred (InvalidParameterValue) when calling the AuthorizeSecurityGroupIngress operation: CIDR block C:/Program Files/Git/32 is malformed

[2017-08-05 08:42] johntekdek opened #52 "Connection Refused"
Hi
I get the following after running .ec2:

$ ./ec2.sh
Logging operations to '/tmp/ec2.sh.log' ...
tee: unknown option -- /
Try 'tee --help' for more information.
Welcome to Agile Data Science 2.0 :)

I will launch an r3.xlarge instance in the default VPC for you, using a key and security group we will create.

The utility 'jq' is required for this script to detect the hostname of your ec2 instanc

[2017-08-05 16:38] balasvasan commented on #46
No issues. Sticking with a Cloud solution actually is in line with the intent of book. As a suggestion If you can add 2 blogs around deploying this in Azure and another one on containerization / Docker, it would complete the trifecta of Cloud, Big Data and Data Science. - Cheers - Balaji

[2017-08-07 07:20] bennwei commented on #44
Hi Russell,
I found it on the controller for chapter 4 and 5, I have to remove this "int" on the "flight-num" to get the code work properly. I am also using the Vagrant image.

@app.route("/on_time_performance")
def on_time_performance():

  carrier = request.args.get('Carrier')
  flight_date = request.args.get('FlightDate')
  flight_num = request.args.get('FlightNum')

  flight = client.agile_dat

[2017-08-13 19:19] Francososa commented on #42
I am having the same problem. Also, doesn't set `aws configure` fields. Here is my output:
[ec2_sh_output.txt](https://github.com/rjurney/Agile_Data_Code_2/files/1220698/ec2_sh_output.txt)

[2017-08-15 17:51] josenavento commented on #51
Thanks that worked for me!

[2017-08-22 03:22] rjurney commented on #52
@johntekdek We don't support Windows. You will need a Linux VM.

[2017-08-22 06:03] johntekdek commented on #52
Hi
Do you mean a Linux on aws?

[2017-08-26 16:26] tsyork opened #53 "Error "No module named 'pyspark'""
I am running through the examples on the EC2 instance and have successfully run all the example code up to the section entitled Pushing data to MongoDB from PySpark. This includes successfully running pyspark from the command line.

When I run the ch02/pyspark_mongodb.py script, I get the following error:
- ImportError: No module named 'pyspark'

I have also run the command "import pyspark" in pyt

[2017-08-26 17:45] nmvega commented on #53
I don't use EC2 (I have my own servers), so I can't speak to EC2-specific errors. But that said, what was the error? Can you paste it? Was it a **network access issue** (like you can't get to the outside world from your EC2 instance) or **filesystem access issue** or etc?

[2017-08-28 01:21] tsyork commented on #53
Thanks for your suggestion. I figured out that the problem was that I was trying to run the commands within python and not pyspark. Unfortunately, the book is not very clear in some of its instructions on how certain commands are to be run.

[2017-08-28 01:21] #53 closed

[2017-09-05 13:41] woylie opened #54 "On_Time_On_Time_Performance_2015.csv.bz2 not accessable"
I tried downloading the data, but the file at `http://s3.amazonaws.com/agile_data_science/On_Time_On_Time_Performance_2015.csv.bz2` is not available. I'm getting this xml response:

[code]

Has the url changed, is the data available somewhere else?

[2017-09-08 08:06] woylie commented on #54
Seems to work again.

[2017-09-08 08:06] #54 closed

[2017-09-12 21:21] JustinReboullot opened #55 "Hadoop not installed on vagrant machine"
After setting up the vagrant machine, ~/hadoop directory exists but is empty. This is probably due to the fact that http://apache.osuosl.org/hadoop/common/hadoop-2.7.3/hadoop-2.7.3.tar.gz returns now a 404 error. The problem is fixed after executing the hadoop part of the manual_install.sh script.

Note that I had to execute this lother line from manual_install.sh in order for spark to works ```ex

[2017-10-04 20:13] MaxCaughron commented on #55
the above worked for me. just replaced the hadoop-2.7.3 with hadoop-2.7.4 in all the lines in the manual setup and it worked on the VM box

[2017-10-10 05:26] Francososa commented on #42
Configuring the [AWS CLI](http://docs.aws.amazon.com/cli/latest/reference/configure/) options solved this issue for me. You will first have to create an IAM user to get the necessary:
`AWS Access Key ID [None]: accesskey`
`AWS Secret Access Key [None]: secretkey`

[2017-10-29 08:59] rjurney commented on #55
Thanks, I'll fix this!

[2017-10-29 11:24] rjurney commented on #55
I bumped the version to 2.8.2.

[2017-11-11 01:10] markucsb opened #57 "When trying to run the ch02/pyspark_elasticsearch.py on the Vagrant image, I'm getting an error, slightly different error in ec2"
...   path='-',
...   outputFormatClass="org.elasticsearch.hadoop.mr.EsOutputFormat",
...   keyClass="org.apache.hadoop.io.NullWritable",
...   valueClass="org.elasticsearch.hadoop.mr.LinkedMapWritable",
...   conf={ "es.resource" : "agile_data_science/executives" })
Traceback (most recent call last):
  File "<stdin>", line 6, in <module>
  File "/home/vagrant/spark/python/pyspark/rdd.py", line 14

[2017-11-19 15:03] pdawczak commented on #36
I had similar problem in Vagrant and executing this step helped:

[code]

[2017-11-19 15:12] pdawczak commented on #57
Similar here - I was able to execute simple queries against my elasticsearch, but pyspark fails to do so.

1. I `cd`d to `ch02` dir and run my pyspark with command:

[code]

2. In there, I've run:

[code]

3. which resulted with error:

[code]

I'm afraid error message doesn't tell me much...

[2017-11-21 02:45] markucsb commented on #57
One thing I noticed is that the Vagrant provisioning has errors in several places, including the download and installation of both kafka and hadoop, it references versions that are no longer there.

[2017-11-21 12:27] pdawczak commented on #57
Thanks @markucsb for your comment - do you have any suggestions or are you aware of how could that be fixed? I've stoped reading the book as I'm unable to reproduce those simple tests...

[2017-11-21 18:24] markucsb commented on #57
Did not mean to Close the issue, I do not have any suggestions at this point, I've now done the EC2 instance setup and am hitting another issue. I am also blocked by this issue and cannot move forward in the book, very frustrating.

...   path='-',
...   outputFormatClass="org.elasticsearch.hadoop.mr.EsOutputFormat",
...   keyClass="org.apache.hadoop.io.NullWritable",
...   valueClass="org.elastic

[2017-11-21 19:31] markucsb commented on #57
I was able to get it to work on the ec2 instance by installing http://central.maven.org/maven2/commons-httpclient/commons-httpclient/3.1/commons-httpclient-3.1.jar within ~/Agile_Data_Code_2/lib/
and add it at the end of this line:
spark.jars /home/ubuntu/Agile_Data_Code_2/lib/mongo-hadoop-spark-2.0.2.jar,/home/ubuntu/Agile_Data_Code_2/lib/mongo-java-driver-3.4.2.jar,/home/ubuntu/Agile_Data_Code_2

[2017-11-21 19:40] #55 closed

[2017-11-21 19:48] rjurney commented on #52
@johntekdek See https://github.com/rjurney/Agile_Data_Code_2/commit/aaec4f9b24572668bc0584cf5ee90bcf85a5fde8

Please try the EC2 scripts again and see if they work now.

[2017-11-21 19:52] rjurney commented on #44
Thanks for the fix! I'll get it in... https://github.com/rjurney/Agile_Data_Code_2/commit/69d641686b83a3d1d00aea6bd15b847e3a50eb84

Fixed! Thanks!

[2017-11-21 19:52] #44 closed

[2017-11-21 19:53] rjurney commented on #42
You have to setup `aws configure` yourself. I am not sure how to automate this, but it is a common source of problems :(

[2017-11-21 19:58] rjurney commented on #57
@markucsb I think I resolved this in https://github.com/rjurney/Agile_Data_Code_2/commit/a596fc6091579268d026df149990245b0fc0e322 by following your instructions. Would you mind testing things out?

[2017-11-21 20:51] pdawczak commented on #57
Thanks @rjurney for your response. It's a shame - I was counting on being able to set up local environment... I commute roughly about 3 hours to work in the train and being able to do code exercises on my machine would let me progress with the book.

I appreciate managing Vagrant in this instance is difficult for you, but would you be able to point me to some resources (eg. what versions of tools,

[2017-11-22 18:01] markucsb commented on #57
@rjurney looks like the ec2 bootstrap has the same issue with kafka version, it is not installed properly. Can you update that before I test the other changes.

[2017-11-24 09:11] rjurney commented on #57
Thanks for letting me know. I'll take a look at it tonight.

[2017-12-07 21:15] markucsb opened #58 "ch04/on_time_flask_template.py returns pyelasticsearch.exceptions.ElasticHttpError: (400, 'illegal_argument_exception')"
127.0.0.1 - - [07/Dec/2017 21:13:39] "GET /flights/search/?__debugger__=yes&cmd=resource&f=console.png HTTP/1.1" 200 -
ImmutableMultiDict([('Carrier', ''), ('FlightDate', '2015-02-01'), ('TailNum', ''), ('Origin', 'JFK'), ('Dest', 'LAX'), ('FlightNum', '')])
QUERY
 2015-02-01 JFK LAX
{"from": 0, "sort": [{"FlightDate": {"order": "asc", "ignore_unmapped": true}}, {"DepTime": {"order": "asc", "ignor

[2017-12-27 21:48] josephshoop opened #59 "ec2 install getting stuck on airflow chmod?"
I am seeing the ec2_bootstrap.sh getting stuck on:

Running Kafka Server as a daemon ...
Installing Airflow via pip ...
Giving airflow directory to user ubuntu ...
/tmp/ec2_bootstrap.sh.log (END)

[2017-12-28 03:47] josephshoop commented on #59
Not a big deal... just thought i would point it out. I started jupyter by running the commands in  ec2_bootstrap.sh

[2018-01-09 16:19] javrllerenas opened #60 "Cannot disable Token Authentication for Jupyter Notebook running on Vagrant"
After connecting to vagrant (using `vagrant ssh`), an instance of **Jupyter Notebook** is running (as expected) and accessible through **`localhost:8888`**.

**The Problem:** It requires **Token Authentication** to log in and even if I change the settings it seems to not be able to be disabled.

**Things I have tried:**
1. Find the token by issuing `jupyter notebook list` (nothing appears on  scre

[2018-01-10 21:18] paulozip opened #61 "kafka/bin/zookeeper-server-status.sh not found"
I'm trying to test Kafka installation in my Vagrant instance, but when I try to run the code provide in the video (kafka/bin/zookeeper-server-status.sh), I got an directory not found error. Where's this directory?

[2018-01-11 16:12] robnoflop commented on #61
Take a look at https://github.com/rjurney/Agile_Data_Code_2/pull/62. Perhaps that resolves your problem.

[2018-01-11 16:14] paulozip commented on #61
Hey rob. I think it will? What script should I run to install Kafka after this commit?

[2018-01-11 16:20] robnoflop commented on #61
**Agile_Data_Code_2/bootstrap.sh** or for clean setup delete the machine and run **vagrant up** again.

[2018-01-12 22:46] paulozip commented on #61
Hi, Rob. It didn't work. :(

[2018-01-14 18:55] peterroelants opened #63 "Provide a working Dockerfile"
Would it be possible to provide a working Dockerfile? There seems to be one, but it seems outdated compared to the bootstrap.sh install. A Dockerfile could make the environment replicatable on ec2 as well as local (no need for a Vagrant VM).

I tried installing the environment on ec2 with the provided scripts, but some things didn't install, and there were no logs created.

[2018-01-15 18:40] javrllerenas commented on #60
I found a solution. By changing to `root` from within vagrant and issuing `pa aux | grep jupyter` you can see that the binary for jupyter notebook is in `home/vagrant/anaconda/bin/jupyter`.

Thus, you must run '/home/vagrant/anaconda/bin/jupyter notebook list` for the token to show up.

[2018-01-15 18:40] #60 closed

[2018-01-18 07:14] timmoti opened #64 "Can't connect localhost to EC2 instance"
`Logging operations to '/tmp/ec2.sh.log' ...
tee: illegal option -- /
usage: tee [-ai] [file ...]
Welcome to Agile Data Science 2.0 :)

I will launch an r3.xlarge instance in the default VPC for you, using a key and security group we will create.

The utility 'jq' is required for this script to detect the hostname of your ec2 instance ...
Detecting 'jq' ...
'jq' was detected ...
Testing for securi

[2018-01-22 20:11] venclov commented on #64
I have similar problem. After ./.ec2.sh i get this:
[log.txt](https://github.com/rjurney/Agile_Data_Code_2/files/1653432/log.txt)
and after create_tunnel script:
'No hostname detected in '.ec2_hostname' :( Exiting!

[2018-01-25 19:33] paulozip commented on #61
Hi, Rob. What else can I do to fix this issue?

[2018-01-26 13:30] timmoti commented on #64
Is the issue with line 35 in the ec2.sh script?

GROUP_NAME_FILTER=\`aws ec2 describe-security-groups | jq '.SecurityGroups[] | select(.GroupName == "agile_data_science") | length'\`

[2018-01-26 13:35] IronistM commented on #64
I just launched an ec2 image, the problem I had was that running it from
the root of the Agile_Data_Code folder the ssh command should be `ssh -i
"agile_data_science.pem" ubuntu@`.
On Fri, 26 Jan 2018 at 15:30 Timothy Tan <notifications@github.com> wrote:

--

Manos Parzakonis

[2018-02-03 04:06] rjurney commented on #64
Ok, sorry for the delay. Let me try this one after the other...

[2018-02-03 04:12] rjurney commented on #64
@timmoti Please paste the output of this command: aws ec2 describe-key-pairs

For some reason jq can't parse this output.

Before you do that run 'aws configure' and make sure the default output format is 'json'. Then run ./ec2.sh again and THEN do the above and report back on all of it.

[2018-02-03 04:14] rjurney commented on #64
@venclov Your log.txt looks fine. Please run this: 'cat .ec2_hostname'

[2018-02-03 04:14] rjurney commented on #64
@IronistM Please paste/attach the entire log output of ./ec2.sh

[2018-02-03 04:15] rjurney commented on #63
I can do this, but I have to work out how to make the storage space work with Docker. I need external storage, and I don't know how to configure that. I will look into this.

In the meantime I recommend EC2. Sorry.

[2018-02-03 04:16] rjurney commented on #26
Closing because he never replied.

[2018-02-03 04:16] #26 closed

[2018-02-03 04:17] rjurney commented on #33
@AlexDKR thanks!

[2018-02-03 04:17] #33 closed

[2018-02-03 04:18] rjurney commented on #36
Closing for staleness. If you re-encounter this, please re-open/re-submit.

[2018-02-03 04:18] #36 closed

[2018-02-03 04:18] rjurney commented on #42
Closing for staleness.

[2018-02-03 04:18] #42 closed

[2018-02-03 04:18] #48 closed

[2018-02-03 04:18] rjurney commented on #49
Closing for staleness.

[2018-02-03 04:18] #49 closed

[2018-02-03 04:19] rjurney commented on #52
Closing for staleness.

[2018-02-03 04:19] #52 closed

[2018-02-03 04:20] rjurney commented on #57
I hate to do this, but Vagrant has been deprecated. I can't support two systems on my limited time. Use EC2. :(

[2018-02-03 04:20] #57 closed

[2018-02-03 12:46] rjurney commented on #58
@markucsb I am able to reproduce locally. I am looking into it, but it seems to be this issue: https://github.com/elastic/elasticsearch-py/issues/718

[2018-02-05 13:44] timmoti commented on #64
@rjurney

Thanks for replying. Changing the default output format to json worked to get the jq parsing correctly (was text previously).

here's the output after entering aws ec2 describe-key-pairs:

`{
    "KeyPairs": [
        {
            "KeyName": "agile_data_science",
            "KeyFingerprint": "a0:db:14:e1:c8:7e:22:d4:0a:31:c0:f9:b5:3c:cf:c3:6b:1e:76:5d"
        }
    ]
}
`

However, I s

[2018-02-09 04:52] NavyaSreeKanakala opened #66 "Unable to launch ec2 instance"
Hello all,

I am unable to launch the ec2 instance r3.xlarge. I have installed awscli in my windows system via command line but unable to proceed further to launch it. Please help me in this regard.

Thanks and regards,
Navya Sree

[2018-02-19 21:17] NickyThreeNames opened #67 "VPCResourceNotSpecified Error in AWS Script"
I receive the following error when running the EC2 script:

"Initializing EBS optimized r4.xlarge EC2 instance in region 'us-east-1' with security group 'XXXXXx', key name 'XXXXXXX' and image id 'ami-XXXXXX' using the script 'aws/ec2_bootstrap.sh'

An error occurred (VPCResourceNotSpecified) when calling the RunInstances operation: The specified instance type can only be used in a VPC. A subnet ID

[2018-02-22 23:29] ppkn opened #68 "ch_02 elasticsearch EsHadoopInvalidRequest "final mapping would have more than 1 type""
When I try to write data to ElasticSearch from PySpark I get this output: [gist](https://gist.github.com/dpipkin/919709d14e3723f2f59e236c9c50f5c7)

This is on a ec2 instance created with `./ec2.sh`

What could be going on here?

[2018-02-25 13:36] BarbeFeu opened #69 "Trouble with localhost:5000 and localhost:8888"
I'm trying to create the tunnels to forward the ports with the script _ec2_create_tunnel.sh_ and I can't access localhost:5000 and localhost:8888.
The script seems to work fine, here is the output :

This script will create an ssh tunnel between the ec2 host's port 5000 and your local port 5000.
This will enable you to view web applications you run from ex. Agile_Data_Code_2/ch08/web to be viewed

[2018-03-17 22:29] bravefoot commented on #68
Recently, Elasticsearch was changed so that an index can only have one type. When you post to "localhost:9200/agile_data_science/test" you created an index named "agile_data_science" with a type of "test". Then, in the last line of pyspark_elasticsearch.py, the code attempts to create a new type called "executives" in the agile_data_science index, which is no longer allowed. There are a lot of pos

[2018-03-21 07:32] apacifico opened #70 "Vagrant : bootstrap.sh too old."
I am using Vagrant with windows to setup the environment discribed in the book (very good).
I had some issue with bootstrap.sh script file used to setup the machine.

1) miniconda uses the last version of python and the only way to obtain a version of python compatible with spark was to force te version

#
# Install Miniconda
#
echo "curl -sLko /tmp/Miniconda3-latest-Linux-x86_64.sh https://repo.c

[2018-03-21 07:57] rjurney commented on #70
Vagrant is no longer supported, sorry. Minicoda 3.5 and Hadoop 3.0 are installed on the EC2 image. The book does not actually use Zeppelin, and I could never get it working, so I removed it.

[2018-03-21 07:58] rjurney commented on #66
@NavyaSreeKanakala Can you please paste the error you're seeing?

[2018-03-21 08:00] rjurney commented on #67
@NickyThreeNames Sorry for the delay, I'm looking into this.

[2018-03-21 08:01] rjurney commented on #68
Shit. That is a damned stupid change. I'll have to downgrade ElasticSearch.

[2018-03-21 08:11] apacifico commented on #70
Ok, I have bought the book this week. So for new people discovering the book , vagrant is an option. My question is concerning vagrant and why today it is not viable to be used to allow the stack you describe to be used? Could you communicate transparently on all these problems you meet with vagrant?

[2018-04-01 01:59] rjurney commented on #70
I'm making an effort to resurrect Vagrant support.

[2018-04-05 02:57] rjurney commented on #70
I think I resolved all the issues in https://github.com/rjurney/Agile_Data_Code_2/commit/28f215433058434b1bb330658254be41c6da217d

@apacifico Can you test things now?

[2018-04-05 11:08] apacifico commented on #70
Thanks for your feedback Russel.
I will compare with the update I do in my side.

Regards

Angelo Pacifico

2018-04-05 4:57 GMT+02:00 Russell Jurney <notifications@github.com>:

[2018-04-07 22:08] rjurney commented on #69
I'm sorry, I don't know what to do here. I can't figure out why it isn't working :(

[2018-04-07 22:09] rjurney commented on #68
@dpipkin @bravefoot I downgraded Elasticsearch in both the Vagrant and EC2 scripts. Try again, sorry for the problems!

[2018-04-07 22:10] rjurney commented on #67
@NickyThreeNames I'm not sure what is the root cause of this. Is this your personal AWS account?

[2018-04-07 22:11] rjurney commented on #64
@timmoti Delete the key in the file system and the AWS interface and then try ec2.sh again.

[2018-04-08 00:08] paulozip commented on #61
@rjurney Thank you, Russel! :D

[2018-04-08 13:28] haolle commented on #70
@rjurney, Per "Once you've provided it your AWS credentials, run the following command to bring up a machine pre-configured with the book's complete environment and source code: ec2.sh", does it mean we need an activated AWS account to create EC2 image on local machine? or I can use an AWS trial account (30 days)? Thanks.

[2018-04-08 14:27] peopzen commented on #70
Does "aws configure" require valid "AWS Access Key ID, AWS Secret Access Key, Default region name, Default output format" ? I put fake info and "ec2.sh" completed with problem, and couldn't create "tunnel" .

[2018-04-08 23:55] rjurney commented on #61
@paulozip That command is missing from the latest Kafka. I think you can get by without running it. Can you try to proceed without it?

[2018-04-08 23:56] rjurney commented on #59
@josephshoop Thanks! I appreciate it. I'll look at it...

[2018-04-09 00:04] rjurney commented on #59
I think this is resolved already. Thanks for reporting it, sorry for the slow response!

[2018-04-09 00:04] #59 closed

[2018-04-09 00:05] rjurney commented on #58
@ledgerW @markucsb I have downgraded Elasticsearch for both the Vagrant and EC2 images. Can you try again with the new build setup? This should be resolved, but if not I'll try again. Thanks!

[2018-04-09 13:51] paulozip commented on #61
Hey @rjurney. I think I can. Will the rest of the process be concluded successfully even without this specific installation?

[2018-04-09 13:59] peopzen commented on #69
@rjurney I think I already set up ec2 environment - all folders and data are right in place via SSH. I can  run ec2_create_tunnel.sh and ec2_kill_tunnel.sh successfully, but when trying http://localhost:5000 in browser, the terminal tells: "channel 2: open failed: connect failed: Connection refused".
any idea about this issue? Thanks.

[2018-04-11 12:23] peopzen opened #71 "issues running on ec2"
1. registered AWS account and created a user and generated access_id and secret_key and chose a region for "aws configure" command, I passed ec2 instance installation. It took time to get everything in place.
2. run ec2_create_tunnel.sh to create connection. htt://localhost:8080 works instantly
3. ssh to instance and start jupyter-notebook, then http://localhost:8888 works fine. http://localhost:5

[2018-04-12 02:09] Shiyamalen commented on #66
@rjurney I am also having trouble. Any help would be greatly appreciated. I am getting the following error (IP address is blank):

 MINGW64 ~/Agile_Data_Code_2 (master)
$ ./ec2.sh
Logging operations to '/tmp/ec2.sh.log' ...

Welcome to Agile Data Science 2.0 :)

I will launch an r4.xlarge instance in the default VPC for you, using a key and security group we will create.

The utility 'jq' is requi

[2018-04-14 18:54] 10843 commented on #58
@rjurney What version of ElasticSearch did you downgrade to?

Thx

[2018-04-19 03:13] rjurney commented on #71
@peopzen Thanks for reporting this. Let me try to reproduce this...

[2018-04-19 03:17] rjurney commented on #70
@peopzen You can use a trial account so long as you have the credentials.

[2018-05-01 03:14] rjurney commented on #58
@10843 5.X but it doesn't fix things for me. Working on this.

[2018-05-01 21:33] 10843 commented on #58
I was able to get pyelasticsearch to work with elasticsearch 5.0.0.  I downgraded the library to use 5.0.0 versions as well.
I did have to alter your elasticsearch query syntax to exclude the “ignore_unmapped” tags as they are not supported in that version.

I am now working on updating the mappings to allow retrieval of values in text columns.

Eric

From: Github Notifications <notifications@gith

[2018-05-02 16:57] sewald101 commented on #64
Unable to log in and getting this suspicious output from the ec2.sh script:

ssh -i ./agile_data_science.pem ubuntu@ec2-52-34-149-8.us-west-2.compute.amazonaws.com
Note: only your IP of **';; connection timed out; no servers could be reached'** is authorized to connect to this machine.

Is there something wrong with the security group? I tried to manually input my public IP in the Outbound rules o

[2018-05-02 22:27] sewald101 opened #72 "EC2 Jupyter Notebook malfunction"
**Solved the problem described below** by manually editing out the <io_loop=loop> argument from
/home/ubuntu/anaconda/lib/python3.5/site-packages/notebook/base/zmqhandlers.py.

The version of ec2_bootstrap.sh that I've accessed today has the jupyter configuration codes commented out.

I am unable to access the notebook at localhost:8888 (or at any other location) without first manually launching a

[2018-05-03 21:09] sewald101 commented on #71
Experiencing exact same problem at peopzen's Step 6.

[2018-05-04 00:38] peopzen commented on #71
Running this project on EC2 is not cheap.
Following the setup process, I ran an EC2 instance for 141 hours. It charged me $64 last month. I think I just set up free account for 12 months. How can AWS charge me? This project setup cost 20G disk space. It is still fine just under 30G of free tier. But wonder why it need 20G for such a simple project (a couple of applications and downloaded data)?

[2018-05-04 16:10] sewald101 commented on #72
I continue to run down the rabbit hole with this problem. I terminated my agile_data_science EC2 and re-spun it up. And IT WORKED . . . ONCE. (I got a URL with a key and was able to access the nb from my browser.) But then after I stopped the EC2 between practice sessions (to save $$) and restarting, I could not access the nb again without getting the error message above in a continuous loop.

Acc

[2018-05-08 00:01] sewald101 opened #73 "Connection refused error with elasticsearch"
This looks like the same issue documented in the "closed due to staleness" issue #36. After restarting my EC2, I rerun the line in the bootstrap script to get things running:
`sudo -u ubuntu /home/ubuntu/elasticsearch/bin/elasticsearch -d`

Then I run the test line:
`curl 'localhost:9200/agile_data_science/on_time_performance/_search?q=Origin:ATL&pretty'`

I've also tried this test recommended on

[2018-05-08 06:45] netoasis opened #74 "{% endmacro -%} is missing."
https://github.com/rjurney/Agile_Data_Code_2/blob/dfdbfc04c769e08ba6904d7c0f7f3a161d897182/ch04/web/templates/macros.jnj#L16

[2018-05-11 23:55] valima opened #75 "error running ec2.sh"
Hi,
I am running the sc2.sh script on Ubuntu (which in turn is running as a subsystem on Windows 10).
When I run the script, it throws some errors to the console but still carries on printing messages suggesting it ran ok. What worries me is did it actually launch the aws machine?
Even if it did, I do not understand how they would be able to charge me without any account details.
Are there any ste

[2018-05-22 17:10] haegray opened #76 "Cannot run ec2.sh"
I configure the AWS CLI and have installed jq but when I try to run the ec2.sh script in my command line it closes the command line...

[2018-05-29 17:49] jmcdonald24 opened #77 "ec2.sh is tagging ALL instances in the Account/Region"
The ec2.sh script is tagging all instances in the region (even pre-existing, unrelated instances) not just the newly created one.

[2018-07-13 09:26] sonhmai opened #78 "ImportError: No module named 'pyspark'"
Got error ImportError: No module named 'pyspark' when running python ch02/pyspark_mongodb.py

The other examples in chapter 2 ran fine.

[2018-07-13 10:23] sonhmai opened #79 "Unable to run code inside IPython Notebook"
I was able to connect to Jupyter notebook through :5000 on my computer (forwarded to EC2).
However, when I opened the Introduction to PySpark notebook, the status is constantly switched between 'Connected' and 'Connecting to Kernel' and I can't run any code.

Below is the log from the notebook server on EC2.

[I 10:20:06.686 NotebookApp] Adapting to protocol v5.1 for kernel 62827ece-131c-4bb5-9d8b

[2018-08-02 13:59] emmajeanbudd commented on #78
`pip install pyspark --user` worked for us.

[2018-08-08 14:33] jhugheswebdev opened #80 ""Adding Search to the Airplanes Page" typo in book."
the curl in the book is `curl -XGET 'localhost:9200/agile_data_science/airplanes/_search?q=*'`

"airplanes" should not be plural, but singular:  `curl -XGET 'localhost:9200/agile_data_science/airplane/_search?q=*'`

[2018-08-12 17:05] mrminpeng commented on #42
[ec2-user@ip-172-31-36-232 Agile_Data_Code_2]$ ssh -i ./agile_data_science.pem ubuntu@
ssh: Could not resolve hostname : Name or service not known

I got this problem as above, suspect maybe due to no region set in aws configure, but how to fix?

Detecting the default region...
The default region is ''
Determining the image ID to use according to region...
The image for region '' is '' ...

[2018-09-18 18:27] ggopalan42 opened #81 "AMI ID for us-west-1 does not exist"
In ec2.sh, the ami-id for us-west-1 is ami-b87819c1. I don't think this exists in that region.

I switched my region to us-west-2 and script ran through just fine!

Thanks,

Giri

[2018-09-19 12:18] VassAngels opened #82 "Jupyter Server Setup Commented Out in Agile_Data_Code_2/aws/ec2_bootstrap.sh"
After failing to connect to http://localhost:8888 (when http://localhost:8080 works fine) I went through ec2_bootstrap.sh to figure out how jupyter gets initialised when I spin up the aws instance and found that the 'Jupyter Server Setup' is commented out in the master branch. I thought that might be related to my problem failing to establish the localhost:8888 connection. I decided to uncomment t

[2018-11-04 18:21] thelastmor opened #83 "Vagrant box (vagrant up) Failed to connect to hashicorp-files.hashicorp.com port 443: Timed out"
when I do Vagrant up I get this:

 Bringing machine 'default' up with 'virtualbox' provider...
==> default: Box 'precise64' could not be found. Attempting to find and install...
    default: Box Provider: virtualbox
    default: Box Version: >= 0
==> default: Box file was not detected as metadata. Adding it directly...
==> default: Adding box 'precise64' (v0) for provider: virtualbox
    default:

[2018-11-13 21:04] pjhinton commented on #83
See the pull request here for a workaround: https://github.com/rjurney/Agile_Data_Code_2/pull/84

[2018-11-13 21:10] pjhinton opened #87 "Vagrant VM Debian-supplied MongoDB too Old for Anaconda PyMongo"
Checking the version of MongoDB on the virtual machine:

[code]
Running the script `test_pymongo.py` fails with the following error message:

[code]

The Anaconda distribution is providing pymongo 3.7.2:

[code]

[2018-11-14 20:44] pjhinton commented on #87
Currently how compatible the code installed by `bootstrap.sh` is with the latest Ubuntu LTS release box.  To get the install to run to completion, you have to change the box name to 'ubuntu/bionic64' and remove `python_software_properties` from the first list of packages installed by `apt-get`.

https://github.com/pjhinton/Agile_Data_Code_2/commit/c345580194b1162ae61a5454451ed534b43f7e5d

The code

[2018-11-20 15:41] pjhinton commented on #68
I noticed that `bootstrap.sh` on `master` still has Elasticsearch 6.1.2

https://github.com/rjurney/Agile_Data_Code_2/blob/374dadb95e25c5a60b6c3379c9bf727bf6b028f6/bootstrap.sh#L170

https://github.com/rjurney/Agile_Data_Code_2/blob/374dadb95e25c5a60b6c3379c9bf727bf6b028f6/bootstrap.sh#L174

I've added a public note to the Safari version of the book that provides notes this issue and the suggested

[2018-12-21 17:27] pjhinton opened #96 "chapter 4 save from pyspark to MongoDB exhausts Vagrant VM memory"
In Chapter 4, where flight data is published to MongoDB from pyspark:

https://learning.oreilly.com/a/agile-data-science/21213057/

if I use a Vagrant image based on box `ubuntu/bionic64` built off of this source tree:

pjhinton/Agile_Data_Code_2@9fe4c71d21294078f304a1590d8d339257709b55

MongoDB runs out of memory:

[code]

The version of MongoDB in use is the one supplied by Ubuntu:

[code]

Vers

[2018-12-23 00:28] thelastmor opened #97 "executing ec2.sh AWS was not able to validate the provided access credentials"
hello
when i execute ec2.sh i get all the time

An error occurred (AuthFailure) when calling the RunInstances operation: AWS was not able to validate the provided access credentials
Got reservation ID '' ...
what is the problem? is it aws configuration? how should i configure it?
thanks

[2018-12-27 20:31] rjurney commented on #97
Try: aws configure

On Sat, Dec 22, 2018 at 4:28 PM thelastmor <notifications@github.com> wrote:

--
Russell Jurney @rjurney <http://twitter.com/rjurney>
russell.jurney@gmail.com LI <http://linkedin.com/in/russelljurney> FB
<http://facebook.com/jurney> datasyndrome.com

[2018-12-27 20:38] rjurney commented on #96
Yes. This is why I use the EC2 script. It is hard to do big data on even
moderate size data in Vagrant. You can alter the settings to give the VM
more RAM, if you’ve got it. That is my suggestion, otherwise use EC2.

On Fri, Dec 21, 2018 at 9:27 AM pjhinton <notifications@github.com> wrote:

--
Russell Jurney @rjurney <http://twitter.com/rjurney>
russell.jurney@gmail.com LI <http://linkedin.com/in

[2018-12-27 23:31] thelastmor commented on #97
thank you. but what should I put in the configuration?

[2018-12-27 23:40] rjurney commented on #97
https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html

Your amazon credentials, and the zone local to you that you use. Set the
default output format to 'json'.

Russell Jurney @rjurney <http://twitter.com/rjurney>
russell.jurney@gmail.com LI <http://linkedin.com/in/russelljurney> FB
<http://facebook.com/jurney> datasyndrome.com

On Thu, Dec 27, 2018 at 3:31 PM thelastmor <notif

[2018-12-27 23:42] thelastmor commented on #97
and how do I set the keys please?

[2018-12-27 23:55] thelastmor commented on #97
How do I set AWS Access Key ID and AWS Secret Access Key?

[2018-12-28 17:10] thelastmor commented on #97
thank you!

[2018-12-28 17:13] thelastmor opened #98 "WARNING: UNPROTECTED PRIVATE KEY FILE!"
Hello
I am using windows bash. when I execute ec2_create_tunnel.sh I get:
        WARNING: UNPROTECTED PRIVATE KEY FILE!
Permissions 0777 for './agile_data_science.pem' are too open.
It is required that your private key files are NOT accessible by others.
This private key will be ignored.
Load key "./agile_data_science.pem": bad permissions
ubuntu@ec2-18-228-118-16.sa-east-1.compute.amazonaws.com:

[2018-12-28 21:10] rjurney commented on #97
No problem, sorry for the trouble! If you know how, can you please update
the docs to show what to do to abswet your problem/question?

On Fri, Dec 28, 2018 at 9:10 AM thelastmor <notifications@github.com> wrote:

--
Russell Jurney @rjurney <http://twitter.com/rjurney>
russell.jurney@gmail.com LI <http://linkedin.com/in/russelljurney> FB
<http://facebook.com/jurney> datasyndrome.com

[2018-12-29 00:49] rjurney commented on #98
Change your permissions on the key file to only be readable by your user.

On Fri, Dec 28, 2018 at 9:13 AM thelastmor <notifications@github.com> wrote:

--
Russell Jurney @rjurney <http://twitter.com/rjurney>
russell.jurney@gmail.com LI <http://linkedin.com/in/russelljurney> FB
<http://facebook.com/jurney> datasyndrome.com

[2018-12-30 00:56] thelastmor commented on #97
you can find your aws credentials like this:
https://help.bittitan.com/hc/en-us/articles/115008255268-How-do-I-find-my-AWS-Access-Key-and-Secret-Access-Key-

[2018-12-30 02:15] rjurney commented on #98
chmod 0600 agile_data_science.pem

On Sat, Dec 29, 2018 at 4:27 PM thelastmor <notifications@github.com> wrote:

--
Russell Jurney @rjurney <http://twitter.com/rjurney>
russell.jurney@gmail.com LI <http://linkedin.com/in/russelljurney> FB
<http://facebook.com/jurney> datasyndrome.com

[2018-12-31 00:15] rjurney commented on #98
Can you try to change permissions using the Windows file system?

Russell Jurney @rjurney <http://twitter.com/rjurney>
russell.jurney@gmail.com LI <http://linkedin.com/in/russelljurney> FB
<http://facebook.com/jurney> datasyndrome.com

On Sun, Dec 30, 2018 at 2:27 PM thelastmor <notifications@github.com> wrote:

[2018-12-31 00:16] rjurney commented on #98
Oh, also: try 'sudo chmod 0600 ./agile_data_science.pem'

Russell Jurney @rjurney <http://twitter.com/rjurney>
russell.jurney@gmail.com LI <http://linkedin.com/in/russelljurney> FB
<http://facebook.com/jurney> datasyndrome.com

On Sun, Dec 30, 2018 at 4:15 PM Russell Jurney <russell.jurney@gmail.com>
wrote:

[2018-12-31 01:12] thelastmor commented on #98
when I keep only administrator access i get this:
sara@DESKTOP-4QT3OS1:/mnt/c/simpleagile$ Load key "./agile_data_science.pem": Permission denied
ubuntu@ec2-18-228-118-16.sa-east-1.compute.amazonaws.com: Permission denied (publickey).
Load key "./agile_data_science.pem": Permission denied
ubuntu@ec2-18-228-118-16.sa-east-1.compute.amazonaws.com: Permission denied (publickey).
Load key "./agile_dat

[2019-01-11 15:24] Cheukting opened #99 "issue running on ec2: ERROR: JAVA_HOME /usr/lib/jvm/java-8-oracle does not exist."
Running EC2 instance by using ec2.sh, after connecting the error message: 'ERROR: JAVA_HOME /usr/lib/jvm/java-8-oracle does not exist.' shows up. Seems all application depends on Java is not installed as in the 'kafka/' and 'spark/' are both empty.

[2019-01-13 22:50] #96 closed

[2019-01-29 22:31] mpuels commented on #99
I have the same issue. The problem is that the PPA (https://launchpad.net/~webupd8team/+archive/ubuntu/java) that's used to install Java 8 doesn't support Ubuntu 17.10. Hence, I've modified the AMI id in `ec2.sh` for my region `us-east-2` to an EC2 image with Ubuntu 18.04: `ami-0f65671a86f061fcd`. Hope that helps!

[2019-01-30 02:35] rjurney commented on #99
It seems I need to upgrade the entire thing to Ubuntu 18.X. I'll try to do that this weekend.

[2019-01-30 02:36] #97 closed

[2019-02-16 16:55] ameet20 opened #101 "Running issue"
Hello,

while running the sc2.sh script on Ubuntu (which in turn is running as a subsystem on Windows 10).
When I run the script, it throws some errors to the console but still carries on printing messages suggesting it ran ok. What worries me is did it actually launch the aws machine?
Even if it did, I do not understand how they would be able to charge me without any account details.
Are there an

[2019-02-21 02:23] rjurney commented on #101
Run: 'aws configure'

enter an AWS region
enter json for the data type

Then it should work.

[2019-02-26 01:21] rjurney commented on #98
I'm sorry, I don't know Windows :(

[2019-02-26 01:21] #98 closed

[2019-04-22 22:31] thomashillenbrand opened #104 "OpenJDK Compatability"
Since the OracleJDK is no longer available through the PPA, could we install the OpenJDK version of Java 8 and still build the application without issue?

[2019-04-22 23:17] rjurney commented on #104
Shit, really? I just looked up https://www.linuxuprising.com/2019/02/install-any-oracle-java-jdk-version-in.html and it looks promising.

I have to fix this thing up for a class in a couple weeks, so I'll be doing some work on it. By all means an option to use OpenJDK would be awesome. Are you volunteering? :)

[2019-04-23 13:58] thomashillenbrand commented on #104
I installed OpenJDK and continued on with the rest of the installations without issue. I was planning on working thru the book now, and would be happy to let you know if I run into any issues.

[2019-04-24 15:14] rjurney commented on #104
Would you mind submitting the steps you used as an edit to the book's
install code? I would test it and would really appreciate it, as would
others!

Thanks,
Russell Jurney @rjurney <http://twitter.com/rjurney>
russell.jurney@gmail.com LI <http://linkedin.com/in/russelljurney> FB
<http://facebook.com/jurney> datasyndrome.com

On Tue, Apr 23, 2019 at 6:58 AM thomashillenbrand <notifications@github.

[2019-04-24 17:46] thomashillenbrand commented on #104
Sure thing, I'll try to do it tonight or tomorrow.

[2019-04-27 23:12] IvanVigor commented on #104
Thank you for your feedbacks @rjurney.
I have modified in my directory your script `sudo apt-get install openjdk-8-jdk `with `sudo apt-get install -y openjdk-8-jdk`.

[2019-04-28 02:35] rjurney commented on #104
Fixed both AWS and vagrant scripts

[2019-05-03 21:50] arnaudbouffard commented on #69
same issue here @BarbeFeu, using Chrome to access localhost:8888
+ I remember earlier today seeing messages similar to those @peopzen reported seing in terminal

@BarbeFeu managed to get it to work?
I'll try looking into it

[2019-05-04 16:33] arnaudbouffard opened #109 "Spark 2.2.1 no longer available @ http://apache.mirrors.lucidnetworks.net"
Should be available from Apache Archive though, currently looking into in ec2_bootstrap.sh changing

http://apache.mirrors.lucidnetworks.net/spark/spark-2.2.1/spark-2.2.1-bin-hadoop2.7.tgz

into

http://archive.apache.org/dist/spark/spark-2.2.1/spark-2.2.1-bin-hadoop2.7.tgz

Will do pull request if all works.

[2019-05-04 21:24] rjurney commented on #109
Thanks!

[2019-05-05 09:59] arnaudbouffard commented on #73
Currently running into the same problem:

- EC2 setup
- rerun that line in the bootstrap script :
`sudo -u ubuntu /home/ubuntu/elasticsearch/bin/elasticsearch -d`
- run test `curl 'http://localhost:9200/?pretty'`
- get `Failed to connect to localhost port 9200: Connection refuse` error

will post solution if I find it

[2019-05-06 04:07] rjurney commented on #73
@arnaudbouffard @sewald101 Sorry for the trouble, guys. I'm looking over the entire thing now.

[2019-05-06 06:17] rjurney commented on #109
Just fixed this, using 2.4.2 now.

[2019-05-06 06:17] #109 closed

[2019-05-06 06:18] rjurney commented on #104
Thanks, this works.

[2019-05-06 06:18] #104 closed

[2019-05-06 06:18] rjurney commented on #101
I added better documentation to the README about this with links to AWS documentations.

[2019-05-06 06:18] #101 closed

[2019-05-06 06:18] rjurney commented on #99
I fixed this.

[2019-05-06 07:46] rjurney commented on #73
I installed Elasticsearch 5.6 and things work again.

[2019-05-06 07:46] #73 closed

[2019-05-07 15:54] arnaudbouffard commented on #69
**update**: found the problem, fixed with commit https://github.com/rjurney/Agile_Data_Code_2/commit/11ce639312b2d6ef2769d8a3ed1a0e5984a97ac6

[2019-05-07 16:22] arnaudbouffard commented on #99
@rjurney it seems this issue is still open.

Seeing you fixed the elasticsearch not launching issue recently (https://github.com/rjurney/Agile_Data_Code_2/issues/73#issuecomment-489534617), I restarted the entire EC2 setup process from the beginning (and thus cloning your latests commits).

I unfortunately did not manage to get up to the elasticsearch part. The pyspark command did not work (even t

[2019-05-07 20:27] rjurney commented on #99
I'm not upgrading Ubuntu at this time. I don't see these errors at all. How long did you wait until logging in? I don't see any of these errors, but it can take 20 minutes for setup to complete.  I believe you logged in before most of the setup was completed. The downloads are large and take a lot of time.

[code]

Everything works fine. I'm moving the setup of the login message to the end of the

[2019-05-07 20:30] rjurney commented on #99
Just pushed a fix for the motd, it will say incomplete until it is loaded.

[2019-05-07 20:31] rjurney commented on #99
Damn, broke it cause of script size... one sec.

[2019-05-07 20:39] rjurney commented on #99
Ok, should work now. Testing again...

[2019-05-07 20:43] rjurney commented on #87
Resolved by pull #95.

[2019-05-07 20:43] #87 closed

[2019-05-07 20:43] rjurney commented on #83
Fixed by pull #84

[2019-05-07 20:43] #83 closed

[2019-05-07 20:44] rjurney commented on #82
This has been restored, thanks.

[2019-05-07 20:44] #82 closed

[2019-05-07 20:57] rjurney commented on #81
Thanks, I'm updating these to Ubuntu 18.10 now.

[2019-05-07 20:57] #81 closed

[2019-05-07 20:57] rjurney commented on #79
Sorry for the late reply, but this should work again?

[2019-05-07 20:57] #79 closed

[2019-05-07 21:00] rjurney commented on #99
I have just updated the Ubuntu images to 18.10 as I'm afraid the old ones will disappear. Testing now.

[2019-05-07 21:02] rjurney commented on #99
The message upon ssh login now warns you if setup hasn't finished. If you want to watch progress, run: `tail -f ec2_bootstrap.sh.log` as the log for the install process is now in your home directory.

[2019-05-07 21:03] rjurney commented on #99
Ok, I see this error now. Thanks. Working on it.

[2019-05-07 22:23] rjurney commented on #99
Now that I upgraded the images to 18.10 again the java install works. To verify:

[code]

Visit [http://localhost:8888/Welcome.ipynb](http://localhost:8888/Welcome.ipynb)

[2019-05-08 04:57] #99 closed

[2019-05-08 05:05] rjurney commented on #77
Thanks, very sorry for this. Resolved by https://github.com/rjurney/Agile_Data_Code_2/commit/1077843a1e3ff33530f47e1b982f937ed3aafef4

[code]

[2019-05-08 05:05] #77 closed

[2019-05-08 05:06] rjurney commented on #78
All pyspark examples are intended to be run inside the `pyspark` shell.

[2019-05-08 05:07] #78 closed

[2019-05-08 05:09] rjurney commented on #75
In order to launch the machine, you need to configure your account details via `aws configure`. Check out the project's [README.md](README.md) file, which I have just updated for more details.

[2019-05-08 05:09] #75 closed

[2019-05-08 05:10] rjurney commented on #74
It's back now.

[2019-05-08 05:10] #74 closed

[2019-05-08 05:14] rjurney commented on #72
Now the notebook server runs on its own and all you have to so is run:

[code]

Now you should be able to go to [http://localhost:8888](http://localhost:8888)

If you want to stop your machine, use the AWS console or AWS CLI. Then restart it that way. Copy the hostname from the AWS EC2 console and place it in your `Agile_Data_Code_2/.ec2_hostname` file. Now you can run `./ec2_kill_tunnel.sh` to ki

[2019-05-08 05:14] #72 closed

[2019-05-08 05:16] rjurney commented on #71
@peopzen You shouldn't leave servers running when you aren't using them as it runs charges up. We need 20GB of disk because otherwise we run out while we use Spark.

[2019-05-08 05:17] rjurney commented on #71
@sewald101 Glad you figured it out.

[2019-05-08 05:17] #71 closed

[2019-05-08 05:19] rjurney commented on #70
Trying the Vagrant image for the first time in a long time...

[2019-05-08 05:23] rjurney commented on #69
@arnaudbouffard thanks for your help!

[2019-05-08 05:23] #69 closed

[2019-05-08 05:23] rjurney commented on #68
Now installing elasticsearch 5.6.1 again, to resolve this bug.

[2019-05-08 05:23] #68 closed

[2019-05-08 05:24] rjurney commented on #67
Stale.

[2019-05-08 05:24] #67 closed

[2019-05-08 05:25] rjurney commented on #64
@sewald101 Sorry things went wrong, when the first run fails things can get wonky.

[2019-05-08 05:25] #64 closed

[2019-05-08 05:26] rjurney commented on #61
Stale.

[2019-05-08 05:26] #61 closed

[2019-05-08 05:27] rjurney commented on #58
Now using elasticsearch 5.6.1 to resolve this problem.

[2019-05-08 05:27] #58 closed

[2019-05-08 15:59] arnaudbouffard commented on #99
pyspark, elasticsearch, they all work now.
Thanks a lot for your responsiveness @rjurney 👍

[2019-05-08 16:12] arnaudbouffard commented on #78
@rjurney you didn't get an answer here but that's indeed also the trap I think I fell in, further in the book though: in the *Processing Streams with PySpark Streaming* section,

got me opening a new `ipython` console at the root of the EC2 filesystem and... getting a `No module named 'pyspark'` error.

From your answer to the current issue I understand the code instead needs to be run inside the

[2019-05-08 16:55] rjurney commented on #99
@arnaudbouffard Sorry it took a while, I am teaching a class next week so I had to update it. It is hard to keep this complex environment working at all times. The community has stepped up with maintaining Vagrant but EC2 is broken a lot of the time unfortunately. Check out Welcome.ipynb in the Jupyter notebooks now - it now has the entire book's example content linked so you can run it all on the

[2019-05-08 16:56] rjurney commented on #66
Run these commands:

[code]

You can find more instructions on this in [README.md](README.md).

[2019-05-08 16:56] #66 closed

[2019-05-08 16:57] rjurney commented on #76
I don't know how to debug this without more information. Use Linux for Windows 10 and try again.

[2019-05-08 16:57] #76 closed

[2019-05-08 16:58] rjurney commented on #80
Thanks, I'll try to get this in an update.

[2019-05-08 17:04] rjurney commented on #70
``bash
vagrant up
[code]

[2019-05-08 18:38] rjurney commented on #78
Thanks, it looks like I should load that in all pyspark sessions. Ideally all scripts run in straight Python, however currently the intention is for all work to occur in the new Jupyter notebooks for each chapter, for example [ch02/Agile_Tools.ipynb](https://github.com/rjurney/Agile_Data_Code_2/blob/master/ch02/Agile_Tools.ipynb).

[2019-05-18 11:04] #70 closed

[2019-05-18 11:05] rjurney commented on #63
I am thinking of doing this now that computers come with 32GB of RAM more often. I still need to solve the external storage volume setup problem.

[2019-08-13 19:57] geopolitis opened #112 "Vagrant: Bootstrap.sh"
Please find attached the vagrant output. There are a few errors, that maybe are related to the next issues.

Find below a summary of them:

1)    default: dpkg-preconfigure: unable to re-open stdin: No such file or directory
2)     default: dpkg-preconfigure: unable to re-open stdin: No such file or directory
3)  default: WARNING conda.core.envs_manager:register_env(46): Unable to register environ

[2019-08-13 20:11] geopolitis opened #113 "Chapter 2: Exercises"
Please find below all the out of the Exercise. The step 10 is successful, the step 11 fails.
Also fails the "Loading and Inspecting Parquet Files" find the output below.

=================
Exercises
First count the number of job titles for each executive, then create a pyspark.sql.Row for this result.
In [10]:

records = csv_lines.map(lambda line: line.split(','))
records.collect()
​
groups = reco

[2019-08-13 20:50] geopolitis opened #114 "Chapter 4:"
The following errors No such file or directory
and mongoDB out of memory. What is the suggested memory for the VM? I tried with 12GB of ram and I have the same results.

======================
**Inspecting the Data**
We can use gunzip -c to inspect the JSON records.
In [9]:

%%bash
​
gunzip -c ../data/on_time_performance.jsonl.gz/part-00000.gz | head -3
gzip: ../data/on_time_performance.jsonl.gz/p

[2019-08-13 21:38] geopolitis commented on #114
In mid-time, I tested to add swap file to the VM with the following commands:

 `sudo fallocate -l 4G /swapfile`
 `sudo dd if=/dev/zero of=/swapfile bs=1024 count=4194304`
 `sudo chmod 600 /swapfile`
` sudo mkswap /swapfile`
` sudo swapon /swapfile`

seems working now.

[2019-08-15 15:53] rjurney commented on #112
@geopolitis working on this now!

[2019-08-19 19:41] rjurney commented on #112
Sorry for the trouble. With the fixes I've added, these commands should get you up and running. I updated the box to Ubuntu 18.10 on my end, so you should do that too.

1. vagrant destroy
2. vagrant box update
3. vagrant up

This takes me a long time to finish.

Everything booted for me when I did this and I was able to run the Chapter 2 notebooks. Let me know if this works out for you. Thanks!

[2019-08-19 19:41] rjurney commented on #112
@geopolitis Whoops, forgot to name you :)

[2019-08-19 19:42] rjurney commented on #113
@geopolitis Looking at this now...

[2019-08-28 18:47] #114 closed, assigned to nobody

[2019-09-05 19:57] rjurney commented on #113
@geopolitis This is fixed.

[2019-09-27 04:33] elmonisch opened #115 "issue with manual_install.sh"
Hi, I am having a problem when executing manual_install.sh. I didnt set up any vagrant, just git clone and setup `PROJECT_HOME` and run `./manual_install.sh`. All is done in digitalocean ubuntu18 16gb ram.

Would you help me with that, please?

[2019-09-27 04:35] rjurney commented on #115
I’m going to remove manual_install since it hasn’t been updated in a long time and I don’t support it. I do support the Vagrant environment, so my suggestion is to either run Vagrant on digital ocean or adapt the Vagrant script (bootstrap.sh) to work for you.

[2019-09-27 06:57] elmonisch commented on #115
Still didnt work, what I did was :

- Get the droplets 16gb ubuntu18
- sudo apt update and upgrade
- git clone ...
- sudo apt install virtualbox
- sudo apt install vagrant
- cd Agile_Data_Code_2
- vagrant up

The errors were :
[code]

[2019-09-27 16:18] rjurney commented on #115
Can you check the version of vagrant you're running? Run this command and print the output.

[code]

Oh, btw, before `vagrant up` you need to run `vagrant init`. Let me edit the docs now to add this...

[2019-09-27 16:20] rjurney commented on #115
@elmonisch Updated the previous comment, in case you don't see it.

[2019-09-27 17:00] elmonisch commented on #115
Vagrant version : `2.0.2`
vagrant init : ``Vagrantfile` already exists in this directory. Remove it before running `vagrant init`.`
vagrant box update : `==> default: Box 'ubuntu/bionic64' not installed, can't check for updates.`

Still couldn't go with it..

[2019-09-27 19:36] rjurney commented on #115
Install vagrant 2.2.4 and try again. I was mistaken about `vagrant init`, sorry. I think things will work for you once you do that.

[2019-09-28 04:01] elmonisch commented on #115
Closed thanks!

[2019-09-28 04:01] #115 closed

[2019-09-28 04:04] rjurney commented on #115
Happy to help! It’s frustrating how out of date Ubuntu packages can get.

[2019-09-28 04:07] elmonisch opened #116 "Cant run pyspark_mongodb.py"
I used `spark-submit pyspark_mongodb.py` and the error was : `NameError: name 'sc' is not defined`

But when I opened the terminal and got into pyspark environment by using `pyspark`, it worked. And the problem for this was I wanted to save the data to mongodb `schema_data.saveToMongoDB(...)`, the error came out suddenly.

I dont think the solution for this is `pip install pyspark` because hadoop-

[2019-09-28 04:25] elmonisch opened #117 "Request to have a local installation"
I would like a make a video request regarding the step by step local installation inside a personal machine especially for those who bought your course. I dont have much money to rent the machine on AWS and other cloud provider. Thanks!

[2019-09-28 04:28] rjurney commented on #117
Check out the vagrant instructions, that’s what they are. If you don’t want to use that, copy the commands from the vagrant file and use those. A manual install is harder, would vary per reader, there’s no way I can support that.

When did you buy the course? It should be taken down.

[2019-09-28 04:28] #117 closed

[2019-09-28 04:29] rjurney commented on #116
You’re going to need to buy the book, I suspect. Use the command `pyspark` and paste in the code from the file.

[2019-09-28 05:45] elmonisch commented on #116
Yes the book is with me now. Just realized I need to setup all the `mongo hadoop path` before executing the `savetomongo script`. Thanks!

[2019-09-28 05:45] #116 closed

[2019-09-28 05:51] rjurney commented on #116
Oh hey - one thing! Check out the Jupyter notebooks. You should be able to visit http://localhost:8888 and see a notebook per chapter. Use those, they were created after the book.

[2019-09-28 05:54] elmonisch commented on #116
Perfect, it was hard to start but will adapt soon as hadoop ecosystem is totally blowing my mind now. Thanks for the great course/book and being helpful enough in replying on the issues!

[2019-10-07 14:50] geopolitis commented on #113
@rjurney a few of the issues have been fixed, however, seem like the issues below insists and also after a few steps is missing the file **/data/simple_flight_delay_features.jsonl.bz2**
**"Building a Classifier Model to Predict Flight Delays
 Loading Our Data**"

Could you help?

**rows.toDF().select("name","count").show()**
-------------------------------------------------------------------------

[2019-10-07 15:24] geopolitis commented on #113
@rjurney regarding the /data/simple_flight_delay_features.jsonl.bz2
"Building a Classifier Model to Predict Flight Delays
Loading Our Data"

I found the under chapter08 the solution, (ch08/download_data.sh )however, you need that files in chapter 02.
ch08/download_data.sh

[2019-10-07 18:21] rjurney commented on #113
I fixed the download issue in https://github.com/rjurney/Agile_Data_Code_2/commit/1a55d930d3a12c6259673ce92706ccd7c4a0d281

Run `git pull origin master` and you should get the update.

[2019-10-07 18:21] rjurney commented on #113
I'm looking at the rest...

[2019-10-21 21:43] txzhou opened #118 "ch04: cannot find ../data/on_time_performance.jsonl.gz/"
Cannot find the `../data/on_time_performance.jsonl.gz/` file while running the notebook.
There's no command to downloaded this file in either `./download.sh` or `./ch04/download.sh`
There's also no command to write this file in `./ch04/Collecting_and_Displaying_Records.ipynb`

Because of this, cannot get the correct results in "## Sizing Up Our Data" and "## Inspecting the Data"

[2019-10-25 16:02] rjurney commented on #118
@txzhou I can fix this Monday

[2020-01-25 23:12] rjurney commented on #118
This should be fixed.

[2020-02-22 05:47] aashnashroff1 opened #122 "EC2 won't connect to internet"
Failed to connect to https://changelogs.ubuntu.com/meta-release. Check your Internet connection or proxy settings

ubuntu@ip-172-31-5-185:~$ sudo apt update
Err:1 http://ap-south-1.ec2.archive.ubuntu.com/ubuntu cosmic InRelease
  Could not connect to ap-south-1.ec2.archive.ubuntu.com:80 (54.248.204.122), connection timed out Could not connect to ap-south-1.ec2.archive.ubuntu.com:80 (54.168.13.207)

[2020-02-22 05:48] #122 closed

[2020-02-22 06:08] aashnashroff1 opened #123 "Ec2 won't connect to internet"
Failed to connect to https://changelogs.ubuntu.com/meta-release. Check your Internet connection or proxy settings

ubuntu@ip:~$ sudo apt update
Err:1 http://ap-south-1.ec2.archive.ubuntu.com/ubuntu cosmic InRelease
  Could not connect to ap-south-1.ec2.archive.ubuntu.com:80 (54.248.204.122), connection timed out Could not connect to ap-south-1.ec2.archive.ubuntu.com:80 (54.168.13.207), connection

[2020-02-22 14:55] rjurney commented on #122
@aashnashroff1 looks like there was a network issue. I take it that it went away?

[2020-02-22 14:56] rjurney commented on #123
@aashnashroff1 It looks like the instance can't connect to the internet. Was this transient or did it go away?

[2020-02-23 11:15] aashnashroff1 commented on #123
Still getting this error:

ubuntu@:/home$ sudo add-apt-repository -y ppa:openjdk-r/ppa
Ign:1 http://us-east-2.ec2.archive.ubuntu.com/ubuntu cosmic InRelease
Ign:2 http://us-east-2.ec2.archive.ubuntu.com/ubuntu cosmic-updates InRelease
Ign:3 http://us-east-2.ec2.archive.ubuntu.com/ubuntu cosmic-backports InRelease
Err:4 http://us-east-2.ec2.archive.ubuntu.com/ubuntu cosmic Release
  404  Not Found

[2020-03-29 23:35] kayne10 commented on #123
I am still getting the error too. Is this because Java 8 SDK requires an Oracle account or the ec2 cannot connect to the internet? I had to manually upload the SDK from a tar file and got pyspark to work.

[2020-04-27 00:45] danovalla opened #125 "kafka not working in Vagrant"
Hi @rjurney , I don't know if you're still supporting Vagrant, but in case you are, the kafka_2.11-2.1.1.tgz file is no longer working. I replaced it for

curl -Lko /tmp/kafka_2.11-2.1.1.tgz https://www-us.apache.org/dist/kafka/2.4.1/kafka_2.11-2.4.1.tgz

and it seems to work fine so far. Hope it helps

[2020-04-27 04:30] rjurney commented on #125
Thanks!

[2020-05-07 07:43] kayne10 opened #126 "Docker build fails"
This initially fails because the Java sdk is unavailable. I have a local zip file of the sdk and made some changes to the docker file so that it can it attempt to get Java installed and this worked. However the command pip install -r requirements.txt causes the build to fail.

ERROR: Cannot uninstall 'SQLAlchemy'. It is a distutils installed project and thus we cannot accurately determine which fi

[2020-06-07 18:20] JelenaSparic commented on #99
Same issue again.
Running EC2 instance by using ec2.sh, after connecting the error message: 'ERROR: JAVA_HOME /usr/lib/jvm/java-8-oracle does not exist.' shows up. Seems all application depends on Java is not installed as in the 'kafka/' and 'spark/' are both empty.

[2020-06-09 05:42] JelenaSparic opened #127 "issue running on ec2: ERROR: JAVA_HOME /usr/lib/jvm/java-8-oracle does not exist"
Same issue again.
Running EC2 instance by using ec2.sh, after connecting the error message: 'ERROR: JAVA_HOME /usr/lib/jvm/java-8-oracle does not exist.' shows up. Seems all application depends on Java is not installed as in the 'kafka/' and 'spark/' are both empty.

_Originally posted by @JelenaSparic in https://github.com/rjurney/Agile_Data_Code_2/issues/99#issuecomment-640258995_

[2020-07-28 17:30] hanbyul-kim commented on #126
I resolved all the related Docker issues at #129 . All the code snippets in the chapter 02 were tested. They're running smoothly!

[2021-03-10 17:31] jeffreybox opened #134 "JSON not recognized on ec2 create"
Experiencing issues getting started and running the ec2.sh script. I'm running in terminal on mac os 10.15.7. I installed jq successfully without error messages. However, when I run the script, I get multiple **Unknown output type: JSON** errors, and the script doesn't create an ec2 instance ID.  It does, however, create an ec2 instance when I look in my console. Output from ec2.sh below:

Logging

[2021-03-15 13:54] #63 closed

[2021-06-18 10:09] dhruvikhankhoje opened #140 "ssh tunnel creation connection timed out / service not found"
After running ec2.sh, I ran the ec2_create_tunnel.sh command, and got this result:

$ ./ec2_create_tunnel.sh

This script will create an ssh tunnel between the ec2 host's port 5000 and your local port 5000.
This will enable you to view web applications you run from ex. Agile_Data_Code_2/ch08/web to be viewed at http://localhost:5000
Note: the tunnel will run in the background, and will die when yo

[2021-10-15 05:42] PaulRebeiz opened #143 "Invalid format for pem file"
Hi,

While running the ec2_create_tunnel.sh file I am getting the following error:
./agile_data_science.pem: invalid format
The error is preventing the creation of channels

Please advise,
Paul

[2021-10-16 21:02] rjurney commented on #126
I am making a new and working Docker image and am removing the scripts that run the entire system as no longer needed.

[2022-07-18 03:57] kwolter1005 opened #146 "Looking for ec2.sh"
This must be a dumb question... but where is ec2.sh?

The Agile Data Science 2.0 text on page 34 says it will be in ./blob/master/

There's not a directory with that name, right?

[2022-07-25 03:19] kwolter1005 commented on #146
Okay, I knew it was a dumb question.

The text is outdated, and the README.md is a bit confusing. But once I realized Docker was not for the Agile text I was okay.

[2022-07-25 03:19] #146 closed

[2022-07-25 16:03] rjurney commented on #146
@kwolter1005 not a dumb question, the book doesn’t match with the text. The way to run the code changed because Docker and Python got to the point where people could either build and run the code locally or on an EC2 machine or run it via Docker in one command.

I’d like to update the book but the process is difficult.

[2022-07-26 01:45] kwolter1005 commented on #146
Russell, thanks for reply and some reassurance. I have figured out to to
download all the code and open in Jupyter Notebook. I am working my way
through that and it appears to be contained in Python/Jupyter.

I am interested in learning how to setup on EC2 in AWS, just for the
practice of learning how to deploy a project such as yours using their
resources. Can you provide a quick explain on how t

[2022-07-26 04:55] rjurney commented on #146
Yeah, I no longer offer that capability. I would refer you to other resources for that. It was too much to do, and most people had issues with it as versions of software I installed would constantly change.

[2022-08-10 18:48] rjurney commented on #143
@PaulRebeiz you no longer need ec2.sh, just run the Dockerfile via `docker-compose`.

[2022-08-10 18:48] #143 closed

[2022-08-10 18:49] rjurney commented on #123
@kayne10 sorry for the ancient reply, but you can now just use the `Dockerfile` and `docker-compose`.

[2022-08-10 18:49] #123 closed

[2022-08-10 18:49] rjurney commented on #126
@hanbyul-kim I hope this was fixed last year!

[2022-08-10 18:49] #126 closed

[2022-08-10 18:50] rjurney commented on #127
@JelenaSparic sorry for taking so long to reply but you can now use the `Dockerfile` via `docker-compose`.

[2022-08-10 18:50] #127 closed

[2022-08-10 18:50] #118 closed

[2022-08-10 18:50] rjurney commented on #134
@jeffreybox sorry for the late reply, but we no longer use ec2. You can run the entire system using Docker via the `Dockerfile` and `docker-compose`.

[2022-08-10 18:50] #134 closed

[2022-08-10 18:51] rjurney commented on #125
@danovalla this should be fixed in the new `Dockerfile` / `docker-compose` setup!

[2022-08-10 18:51] #125 closed

[2022-08-10 18:51] rjurney commented on #140
@dhruvikhankhoje we no longer use EC2 because of issues like this one. You can use the `Dockerfile` via `docker-compose` to run all services. Much easier!

[2022-08-10 18:51] #140 closed

[2022-08-10 18:52] #113 closed

[2022-08-10 18:52] rjurney commented on #113
@geopolitis I fixed all these to make the class go in 2021.

[2022-10-11 08:12] kwolter1005 commented on #146
Ok. Thanks for update. Take care.

On Mon, Jul 25, 2022, 11:55 PM Russell Jurney ***@***.***>
wrote: